<header ng-controller="menuController">
    <!--a class="interfac header-back" href="login.html"></a-->
    <h1 class="ui-title"><img src="img/ringhop-logo.png" style="height:20px;" /></h1>
    <a class="interface header-panel ui-link" href="javascript:;" ng-click="leftMenu()"></a>
</header>
<div class="popup pro_popup" ng-show="become_pro_popupShow" data-role="popup" id="BMPopup" data-position-to="window">
    <p>&nbsp;</p>
     <span ng-click="closeHeaderPopup()">
        <img src="img/cross.png" class="crossPopup" />
    </span>
    <div class="heading_pro">
        <h6>Become a Pro & Earn Money</h6>
        <div class="text_pro">
            <p style="padding-bottom: 8px;">Get verified as a Ringhop Pro and start charging your fans and clients for videochat, sms, photos and more.</p>
            <p style="padding-left: 8px;padding-right: 6px;">Earn 50% of all billed charges and get paid weekly by wire, check or paycard.</p>
        </div>
        <div>
            <button type="button" class="btn_pro" style="background: #007DFD; border-color:#007DFD;" ng-click="learnMoreForPro()">
                <a href="javascript:;" style="color:#fff;">Learn more</a>
            </button>
        </div>
    </div>
</div>
<div id="wrapper" class="dashDiv">
  <div style="overflow-y: auto;" class="settingLiIcon" >
    <div class="col-md-12 img_thumb imgPart">
        <a href="javascript:;" onclick="back('left','#/home/editProfile')" class="profileblock">
            <div class="row" style="font-size: 0.75em;">
                <div class="col-xs-12 col-md-12 row" ng-style="{'max-height':'100px','overflow':'hidden'}">
                    <p class="edit">edit photo</p>
                    <div class="thumb">
                        <span class="img-responsive" alt="..." id="profile_pic"></span>
                        <!-- <img class="img-responsive" alt="..." id="profile_pic"> -->

                    </div>
                    <div class="caption captionInherit">
                        <h2 id="username"></h2>
                        <p class="location_status" id="user_loc" style="word-wrap:break-word;padding-bottom:18px;" ></p>
                        <p class="textaddresss" id="user_gender"></p>
                        <p class="textaddresss" id="user_location"></p>
                        <p class="btmtitle" id="usersStatus" style="padding-top:18px;">  </p>
                    </div>
                    <div class="clr"></div>
                </div>
            </div>
        </a>
        <div class="clr"></div>
    </div>
        <div class="clr"></div>
        <section class="inner_action after-login img_thumb_profile">
            <div ng-show="proSection" style="padding-bottom: 15px;">
                <p style="margin-top: -15px;margin-left: 15px;">Ringhop Pro account
                </p>
                <a href="javascript:;" onclick="back('left','#/home/prosettings')">
                    <p class="setting_pro">Edit PRO Settings
                    </p>
                </a>
            </div>
            <div ng-show="proSection">
                <!-- <a href="javascript:;" onclick="back('left','#/home/prosettings')"> -->
                    <div class="gray_box" ng-show="show_pro_no">
                        <div class="prouser">
                             <small class="fleft">my shareable #</small>
                             <!-- <div>
                                <small class="fright">Edit PRO Settings</small>
                             </div> -->
                             <div class="clr"></div>
                        </div>
                        <h2 id="pro_number"> </h2>
                    </div>
                </a>
                <button type="button" class="webLink_box" ng-click="clickForCopy()"
                    data-toggle="tooltip" 
                    tooltip="Link Copied"
                    tooltip-placement="bottom"
                    tooltip-trigger="click">
                    <span class="glyphicon glyphicon-link" style="padding-top:2px;margin-left:-8px;"></span>
                    {{textToCopy}}
                </button>
            </div>
            <div ng-show="femaleProLink">
                <a href="javascript:;" ng-click="forward('left','#/home/learnmore')">
                    <div class="orange_box">
                        <h2 style="font-size: 15px;margin-bottom: 8px !important;">Become a Ringhop Pro & earn money</h2>
                        <p style="font-size: 0.9em;">Get a FREE private number and charge for txt, call and media services</p>
                    </div>
                </a>
            </div>
            <div ng-show="submitReviewPro">
                <a href="javascript:;" ng-click="forward('left','#/home/prodashboard')">
                    <div class="orange_box">
                        <h2 style="font-size: 15px;margin-bottom: 8px !important;"><span class="glyphicon glyphicon-time" style="color:black; margin-left: 9px;"></span>Your application is being reviewed</h2>
                    </div>
                </a>
            </div>
            <div ng-show="actionRequired">
                <a href="javascript:;" ng-click="forward('left','#/home/prodashboard')">
                    <div class="red_box">
                        <h2 style="font-size: 15px;margin-bottom: 8px !important;">Action required to complete your application.</h2>
                        <p style="font-size: 0.9em;">Please click here to review action items.</p>
                    </div>
                </a>
            </div>
            <div ng-show="completeProSetup">
                <a href="javascript:;" ng-click="forward('left','#/home/prodashboard')">
                    <div class="yellow_box">
                        <h2 style="font-size: 15px;margin-bottom: 8px !important;"><span class="glyphicon glyphicon-warning-sign" style="color:black; margin-left: 11px"></span>Complete Ringhop Pro Setup</h2>
                    </div>
                </a>
            </div>
            <div ng-show="updatePayment">
                <a href="javascript:;" ng-click="forward('left','#/home/updatepayment')">
                    <div class="red_box">
                        <h2 style="font-size: 15px;margin-bottom: 8px !important;"><span class="glyphicon glyphicon-warning-sign" style="color:black;"></span>Update billing information</h2>
                    </div>
                </a>
            </div>
            
            <ul class="newList" style="font-size: 14px;font-weight: 700;">
                <li>
                    <button type="button" class="btn btn-default fullwidth" ng-click="chatLink()"><span class="glyphicon glyphicon-comment"></span>TXT messages
                    <div ng-if="msgStatus=='0' && messageCount != 0" style="font-size:8pt;float:right;color:#fff;background:#f00!important;border-radius:0px;padding:3px 6px;">{{messageCount}}</div>
                    <div ng-if="msgStatus=='1' && messageCount != 0" style="font-size:8pt;float:right;color:#fff;background:#b4b4b4!important;border-radius:0px;padding:3px 6px;">{{messageCount}}</div>                
                    </button>
                </li>
                <li ng-show="shoutsection">
                    <button type="button" class="btn btn-default fullwidth" ng-click="shoutLink()"><span class="glyphicon glyphicon-new-window"></span>Shouts</button>
                </li>
                <li>
                    <button type="button" class="btn btn-default fullwidth" ng-click="callLink()"><span class="glyphicon glyphicon-earphone"></span>Recent calls
                    <div ng-if="callCount!='0'" style="font-size:8pt;float:right;color:#fff;background:#f00!important;border-radius:0px;padding:3px 6px;">{{callCount}}</div> 
                    </button>
                </li>
                <li>
                    <button type="button" class="btn btn-default fullwidth" ng-click="contactsLink()"><span class="glyphicon glyphicon-star"></span>Contacts</button>
                </li>
                <li ng-show="pro_info != 2">
                    <button type="button" class="btn btn-default fullwidth" ng-click="myLibrary()"><span class="glyphicon glyphicon-th"></span>My library</button>
                </li>
                <li ng-show="pro_info != 2">
                    <button type="button" class="btn btn-default fullwidth" ng-click="buyCredits()"><span class="glyphicon glyphicon-usd"></span>Buy credits</button><!-- Nanda -->
                </li>
                
            </ul>
            

            <!-- <ul ng-show="upgradeDisplay">
                <li>
                    <button type="button" class="btn btn-default fullwidth btn-success upgrade" ng-click="buyCredits()">
                        upgrade to unlimited txt and voice
                       <span class="arrowright"></span
                    </button>
                </li>
            </ul> -->
        </section>
        <div class="cont_headline" ng-show="cont_headline_show">
            <p style="margin-left: 15px;">RECENT CONTACTS</p>
        </div>
        <section class="recentcontSection" ng-class="recentcont_Section">
            <div ng-repeat="contact in recentlyAddedContacts">
                <section class="dashboard">
                    <div class="contact borderBotDash" id="contact_{{contact.contact_user_id}}">
                        <a href="javascript:;" ng-click="gotoCallerHistory(contact.contact_user_id)">
                            <div class="image" style="height:57px;">
                                 <img class = "imgcircle" ng-src="{{contact.profile_images.profile_image}}" alt="" >
                            </div>
                            <div class="text">
                                <h2 style="margin-bottom: 5px !important;margin-top:20px !important;">{{contact.displayname}}</h2>
                                <p style="min-height: 20px;line-height: 15px;overflow: hidden;margin-bottom: 5px;height: 30px;" ng-if="contact.profile_status!= null">{{contact.profile_status}}</p>
                                 <p style="line-height: 15px;overflow: hidden;margin-bottom: 8px;" ng-if="contact.profile_status == null">{{contact.profile_status}}</p>
                                <h6 style="margin-top: 0px;line-height: 1em;">{{contact.online_status}}</h6>
                            </div>
                        </a>
                        <div class="setting dashboardContact" style="border-left: 0px;">
                            <a href="javascript:;" ng-click="gotoCallerHistory(contact.contact_user_id)" style="color: grey;opacity: 0.5;">
                              <span class="glyphicon glyphicon-chevron-right"></span>
                            </a>
                        </div>
                        <div class="clr"></div>
                        <div class="clr"></div>
                    </div>
                </section>
            </div>
        </section>
            <div class="all_cont_div" ng-show="all_cont_div_show">
                <p ng-click="contactsLink()">ALL CONTACTS</p>
            </div>
            <section ng-show="pro_info != 2">
                <div class="cont_headline" ng-show="suggest_headline_show">
                    <p style="margin-left: 15px;">SUGGESTED PROS</p>
                </div>
                <section class="recentcontSection" ng-class="recentcont_Section">
                    <div ng-repeat="contact in suggestedPros">
                        <section class="dashboard">
                            <div class="contact borderBotDash" id="contact_{{contact.pro_id}}">
                                <a href="javascript:;" ng-click="gotoProfile(contact.pro_id,contact.displayname)">
                                <!-- <a href="javascript:;"> -->
                                    <div class="image" style="height:57px;">
                                         <img class = "imgcircle" ng-src="{{contact.profile_images.profile_image}}" alt="">
                                    </div>
                                    <div class="text">
                                        <h2 style="margin-bottom: 5px !important;margin-top:20px !important;">{{contact.displayname}}</h2>
                                        <p style="min-height: 20px;line-height: 15px;overflow: hidden;margin-bottom: 5px;    height: 30px;" ng-if="contact.profile_status!= null">{{contact.profile_status}}</p>
                                         <p style="line-height: 15px;overflow: hidden;margin-bottom: 8px;" ng-if="contact.profile_status == null">{{contact.profile_status}}</p>
                                        <h6 style="margin-top: 0px;line-height: 1em;">{{contact.online_status}}</h6>
                                    </div>
                                </a>
                                <div class="setting dashboardContact" style="border-left: 0px;">
                                    <a href="javascript:;" ng-click="gotoProfile(contact.pro_id,contact.displayname)" style="color: grey;opacity: 0.5;">
                                      <span class="glyphicon glyphicon-chevron-right"></span>
                                    </a>
                                </div>
                                <div class="clr"></div>
                                <div class="clr"></div>
                            </div>
                        </section>
                    </div>
                </section>
                <div class="all_cont_div" ng-show="suggest_div_show">
                    <p ng-click="suggestProLink()">MORE SUGGESTIONS</p>
                </div>
            </section>
        <section>
            <div ng-show="earnMoneyPro" ng-click="proStatusLink()">
                <a href="javascript:;" >
                    <div class="gray_box_becomePro">
                        <div class="prouser earnMoneyfirstDiv">
                             <small class="fleft earnMoneyleft">{{pro_status}}</small>
                             <small class="fleft earnMoneymid">{{pro_tagline}}</small>
                             <div class="earnMoneyright">
                                <small class="fright">{{learn_more_pro}}</small>
                             </div>
                             <div class="clr"></div>
                        </div>
                    </div>
                </a>
            </div>
        </section>
        
        <section class="earn" ng-show="learnMore">
            <div ng-show="afterLearnMorePro">
            <p id="pro_status">{{pro_status}} <a href="javascript:;" ng-click="proStatusLink()">{{learn_more}}</a></p>
            </div>
            <p class="text-center" style="margin-top: 50px">ringhop © {{date | date:'yyyy'}}</p>
        </section>
        
 </div>
</div>
