<header ng-controller="menuController">
    <a class="interfac header-back"  ng-click="backButton()"></a>
    <h1 class="ui-title">Social Links</h1>
    <!-- <a class="interface header-panel ui-link" href="javascript:;" ng-click="leftMenu()"></a> -->
</header>
<section class="midArea">
    <div class="form-horizontal ui-content">
        <div class="form-group">
            <div id="socialLinkStatus" class="col-sm-3 control-label errorStatus">{{serverMsg}}</div>
            <label for="userStatus" class="col-sm-3 control-label">
                Add Social link
            </label>
            <div class="col-sm-9" style="margin-left: -5px;">
                <select name="link_type" id="link_type" class="form-control country-code currPeriod card-expiry-month" ng-model="socialLinkSelected" ng-options="social_link.id as social_link.value for social_link in social_link_select" ng-init = "socialLinkSelected = social_link_select[0].id">
                    <!--option value="facebook">Facebook</option>
                    <option value="twitter">Twitter</option>
                    <option value="linkedin">Linkedin</option-->
                </select>
            </div>
        </div>

        <div class="form-group">
            <label for="profile_name" class="col-sm-3 control-label">
                @profilename
            </label>
            <div class="col-sm-9 sale">
                <input type="text" id="profile_name" placeholder="e.g @displayname" name="profile_name" class="form-control" ng-model="profile_name" value="" autocapitalize="off" spellcheck="true">
                <span id="errorsocialname" class="errorStatus"></span>
            </div>
        </div>

        <div class="form-group">
            <div class="col-sm-12">
                <button name="submitsocialsettings" ng-show="submitSocialShow" type="button" class="btn btn-default fullwidth fullwidth_blue submit-button" ng-click="submitSocialLink('no')">Add Link </button>
                <button name="submitsocialsettings" ng-show="!submitSocialShow" type="button" class="btn btn-default fullwidth fullwidth_blue submit-button" ng-click="submitSocialLink('yes')">Update profile name </button>
            </div>
        </div>
        <div class="socialData" ng-repeat="data in socialData">
            <div id="link_{{data.id}}">
                <div class="append-box" style="margin-bottom:10px;">
                    <figure>
                        <!-- <img ng-if="data.link_type == 'facebook'" ng-src="img/facebook.png">
                        <img ng-if="data.link_type == 'twitter'" ng-src="img/twitter.png">
                        <img ng-if="data.link_type == 'linkedin'" ng-src="img/linkedin.png">
                        <img ng-if="data.link_type == 'amazon'" ng-src="img/amazon.png">
                        <img ng-if="data.link_type == 'instagram'" ng-src="img/instagram.png">
                        <img ng-if="data.link_type == 'my-web'" ng-src="img/my-web.png">
                        <img ng-if="data.link_type == 'tubmir'" ng-src="img/tubmir.png">
                        <img ng-if="data.link_type == 'vine'" ng-src="img/vine.png"> -->
                        <img ng-src="{{IMAGE_URL+data.link_type}}.png">
                    </figure>

                    <div class="details-box">
                        <div class="followers">
                            <p>{{data.profile_name}}</p>
                            <span>{{data.link_type}}</span>
                        </div>
                        <button class="datails" ng-click="editLink(data.id)"><img src="img/edit.png"></button>
                    </div>
                    <div class="clr"></div>
                </div>
                <div class="clr"></div>
                <div class="popupContact popupContact_custom" id="social_{{data.id}}" style="display:none">
                    <p>{{data.link_type}}</p>
                    <ul>
                        <li ng-click="editSocialLink(data.id, data.profile_name,data.link_type)">
                            <a href="javascript:;" class="cancel">
                                <span class="glyphicon glyphicon-edit"></span>
                                <span class="socialLiEdit">Edit link</span>
                            </a>
                        </li>
                        <li ng-click="deletelink(data.id)">
                            <a href="javascript:;" class="cancel">
                                <span class="glyphicon glyphicon-remove"></span>
                                <span class="popupContactLiDelete">Delete link</span>
                            </a>
                        </li>
                        <li ng-click="cancel(data.id)">
                            <a href="javascript:;" class="cancel CenterText">Cancel</a>
                        </li>
                    </ul>
                </div>
                <!--div class="custom-popup" id="social_{{data.id}}">
                    <input type="button" class="edit1" value="Edit">
                    <input type="button" class="del" value="Delete">
                    <input type="button" class="Cancel" value="Cancel" ng-click="cancel(data.id)">
                </div-->
            </div>
        </div>

    </div>
</section>
<section class="earn">
    <p class="text-center">ringhop © {{date | date:'yyyy'}}</p>
</section>