<!-- <div class="wrapper"> -->
<header ng-controller="menuController" ng-show="user_data.login_status">
    <a class="interfac header-back" ng-click="backButton();"></a>
    <h1 class="ui-title" id="headerstyle">{{user_data.caller.displayname}}</h1>
    <!-- <a class="interface header-panel ui-link" href="javascript:;" ng-click="leftMenu()"></a> -->
</header>
<header ng-hide="user_data.login_status" ng-controller="menuController">
    <!-- <a class="interfac header-back" ng-click="backButton();"></a> -->
    <h1 class="ui-title"><img src="img/ringhop-logo.png" style="height:20px;" /></h1>
    <!-- <a class="interface header-panel ui-link" href="javascript:;" ng-click="leftMenu()"></a> -->
</header>

<div class="col-md-12 img_thumb imgPart">
    <a href="javascript:;" class="profileblock">
        <div class="row" style="font-size: 0.75em;">
            <div class="col-xs-12 col-md-12 row" ng-style="{'max-height':'102px','overflow':'hidden'}">
                <div class="thumb">
                    <span class="img-responsive" alt="..." id="profile_pic"></span>
                    <!-- <img ng-src="{{user_data.profile_images.profile_image_big}}" src="img/profile-big.jpg" class="img-responsive" alt="..." id="profile_pic" style="height: auto; max-width: 100%;"> -->
                </div>
                <div class="caption captionInherit captioncaller">
                    <h2 id="username">{{user_data.caller.displayname}}</h2>
                    <p class="location_status" id="user_loc" style="width:170px; word-wrap:break-word;padding-bottom:18px;">{{user_data.caller.profile.profile_status}}</p>
                    <p class="textaddresss" id="user_gender"></p>
                    <p class="textaddresss" id="user_location"></p>
                    <p class="btmtitle" id="usersStatus"> {{user_data.online_status}} </p>
                </div>
                <div class="clr"></div>
            </div>
        </div>
    </a>
    <div class="clr"></div>
</div>
<div class="clr"></div>
<div class="popupContact popupBlock" ng-show="blockPopup" data-role="popup" style="height:140px !important;width: 260px;top:30% !important;">
    <span ng-click="closeBlock()">
      <img src="img/cross.png" class="crossPopupblock" />
    </span>
    <div role="main" class="ui-content" id="deletecontent">
      <p style="color:black;">{{blockMsg}}</p>
    </div>
    <div class="center borderTopSolid" id="okdiv" style="margin-top: 0px;">
      <a href="javascript:;" class="ui-btn ui-btn-inline" id="deleteanchor" data-rel="back" data-transition="flow" style="font-size: 18px;color:#428bca !important;margin-top: 8px;font-weight:600;" ng-show="gotoBlockUsers" ng-click="blockLink()">Blocked users</a>
      <a href="javascript:;" class="ui-btn ui-btn-inline" id="deleteanchor" data-rel="back" data-transition="flow" ng-show="closePopupBlock" style="font-size: 18px;color:#428bca !important;margin-top: 8px;font-weight:600;"ng-click="closeBlock()">Ok</a>
    </div>
</div>
<section class="inner_action after-login viewProfileList">
    <ul ng-show="user_data.login_status">
        <li ng-if="user_data.ringhop_number != ''">
            <a href="tel:+ {{user_data.ringhop_number}}" ng-if="loginid != userid">
                <button type="button" class="btn btn-default fullwidth">
                    <span class="glyphicon glyphicon-earphone" style="margin-right: 8px;"></span>
                    <span class="blueCallHistory">{{user_data.ringhop_number}}</span>
                </button>
            </a>
            <a href="javascript:;" ng-if="loginid == userid">
                <button type="button" class="btn btn-default fullwidth">
                    <span class="glyphicon glyphicon-earphone" style="margin-right: 8px;"></span>
                    <span class="blueCallHistory">{{user_data.ringhop_number}}</span>
                </button>
            </a>
        </li>
        <li ng-click="videoCallFromProfile(viewProfileProData.id,viewProfileProData.displayname)" ng-show="showVideoIcon">
            <a href="javascript:;">
                <button type="button" class="btn btn-default fullwidth">
                    <span class="glyphicon glyphicon-facetime-video" style="font-size:17px;">
                    </span>
                    <span class="blueCallHistory">Video Call</span>
                </button>
            </a>
        </li>
        <li ng-if="loginid != userid">
            <a href="#/home/reply{{user_data.caller.id}}">
                <button type="button" class="btn btn-default fullwidth">
                    <span class="glyphicon glyphicon-comment" style="margin-right: 8px;"></span>
                    <span class="blueCallHistory">Send message</span>
                </button>
            </a>
        </li>
        <li ng-if="loginid == userid">
            <a href="javascript:;">
                <button type="button" class="btn btn-default fullwidth">
                    <span class="glyphicon glyphicon-comment" style="margin-right: 8px;"></span>
                    <span class="blueCallHistory">Send message</span>
                </button>
            </a>
        </li>
        <li ng-if="loginid != userid">
            <button type="button" class="btn btn-default fullwidth" ng-click="addAsContact()">
                <span class="glyphicon glyphicon-star" style="margin-right: 8px;"></span>
                <span class="blueCallHistory" id="alreadyContact">Add as contact</span>
            </button>
        </li>
    </ul>

    <ul ng-hide="user_data.login_status">
        <li ng-if="user_data.ringhop_number != ''">
            <a href="tel:+ {{user_data.ringhop_number}}">
                <button type="button" class="btn btn-default fullwidth">
                    <span class="glyphicon glyphicon-earphone"></span>
                    <span class="blueCallHistory">{{user_data.ringhop_number}}</span>
                </button>
            </a>
        </li>
        <li>
            <a href="sms:+ {{user_data.ringhop_number}}?body=Hello {{user_data.caller.displayname}}">
                <button type="button" class="btn btn-default fullwidth">
                    <span class="glyphicon glyphicon-comment"></span>
                    <span class="blueCallHistory">Send message</span>
                </button>
            </a>
        </li>
    </ul>
    <ul ng-if="loginid != userid">
        <li>
            <button type="button" class="btn btn-default fullwidth" ng-click="blockUser()">
                <span class="glyphicon glyphicon-ban-circle" style="margin-right: 8px;"></span>
                <span class="redCallHistory" id="alreadyBlocked">Block this user</span>
            </button>
        </li>
    </ul>

    <ul>
        <li ng-repeat="data in profileData" class="socialLinkButton">
            <a href="javascript:;" ng-click="openLink(data.url)">
                <button type="button" class="btn btn-default fullwidth">
                    <i ng-if="data.link_type == 'facebook'" class="fa fa-facebook" style="color:black;"></i>
                    <i ng-if="data.link_type == 'twitter'" class="fa fa-twitter" style="color:black;"></i>
                    <i ng-if="data.link_type == 'linkedin'" class="fa fa-linkedin" style="color:black;"></i>
                    <i ng-if="data.link_type == 'amazon'" class="fa fa-gift" style="color:black;"></i>
                    <i ng-if="data.link_type == 'instagram'" class="fa fa-instagram" style="color:black;"></i>
                    <i ng-if="data.link_type == 'my-web'" class="fa fa-dribbble" style="color:black;"></i>
                    <i ng-if="data.link_type == 'tumblr'" class="fa fa-tumblr-square" style="color:black;"></i>
                    <i ng-if="data.link_type == 'vine'" class="fa fa-vine" style="color:black;"></i>
                    <i ng-if="data.link_type == 'globe'" class="fa fa-globe" style="color:black;"></i>
                    <span class="blueCallHistory">&nbsp;{{data.profile_name}}</span>
                </button>
            </a>
        </li>
    </ul>
</section>
<!-- </div>
<div id="sidebar-wrapper" class="side-menu" >
    <ul class="sidebar-nav">
        <li class="sidebar-brand">
            <a ui-sref="home">
                Home
            </a>
        </li>
        <li class="ring">
            <a href="javascript:;">RINGHOP</a>
        </li>
        <li>
            <a ui-sref="home.howitworks">How it works</a>
        </li>
        <li>
            <a ui-sref="home.faqs">Overview</a>
        </li>
        <li class="ring">
            <a href="javascript:;">ACCOUNT</a>
        </li>
        <li>
            <a ui-sref="home.contactus">Support</a>
        </li>
        <li>
            <a ui-sref="home.register">Create account</a>
        </li>
        <li>
            <a ui-sref="home.login">Sign in</a>
        </li>
    </ul>
</div-->
<!-- =Footer Start= -->
<footer class="footer-section container-fluid" ng-if="user_data.login_status == false">
    <div class="row m-0">
        <!-- =Phone Call Col Start= -->
        <div class="width50">
            <div class="foot-box" ng-style="{'background':'#007dfd'}">
                <a data-role="button" role="button" class="" ui-sref="home.register"> Sign up</a>
            </div>
        </div>
        <!-- =Phone Call Col End/= -->
        <!-- =Message Col Start= -->
        <div class="width50">
            <div class="foot-box">
                <a data-role="button"  role="button" class="" ui-sref="home.login"> Log in </a>
            </div>
        </div>
    <!-- =Message Col End/= -->
    </div>
</footer>
