<div>
    <header>
        <a class="interfac header-back" onclick="back('right', '#/home/forgotpassword')"></a>
        <h1 class="ui-title">
            Reset Your Password
        </h1>
        <!--a class="interface header-panel ui-link" href="javascript:;" ng-click="navAction()"></a-->
    </header>
    <section class="midArea">
        <div class="form-horizontal ui-content" name="resetForm">
            <span id="reset_status" class="errorStatus"></span>
            <div class="form-group">
                <label for="passwd" class="col-sm-3 control-label" id="passwd_label">
                    New Password    
                </label>
                <div class="col-sm-9">
                    <input type="password" autocapitalize="off" spellcheck="true" class="form-control" name="password" id="passwd" ng-model="password">
                </div>
            </div>
             <span id="passwd_error" class="errorStatus"></span>
            <div class="form-group">
                <label for="con_passwd" class="col-sm-3 control-label" id="con_passwd_label">
                     Confirm Password    
                </label>
                <div class="col-sm-9">
                    <input type="password" autocapitalize="off" spellcheck="true" class="form-control" name="confirmpassword" id="con_passwd" ng-model="confirmpassword" required ng-minlength="6">
                </div>
            </div>
             <span id="con_passwd_error" class="errorStatus"></span>
            
            <div class="form-group">
                <div class=" col-sm-12">
                    <button type="button" class="btn btn-default fullwidth fullwidth_blue" ng-click="resetForgotPwd()">
                        Reset password
                    </button>
                </div>
            </div>
            
        </div>
    </section>
    <section class="earn" ng-style="{'position':'absolute','bottom':'0','width':'100%','text-align':'center'}">
        <p class="text-center">ringhop © {{date | date:'yyyy'}}</p>
    </section>
</div>
<!-- <div id="sidebar-wrapper" class="side-menu" >
    <ul class="sidebar-nav">
        <li class="sidebar-brand">
            <a ui-sref="home">
                Home
            </a>
        </li>
        <li class="ring">
            <a href="javascript:;">RINGHOP</a>
        </li>
        <li>
            <a ui-sref="home.howitworks">How it works</a>
        </li>
        <li>
            <a href="javascript:;">Overview</a>
        </li>
        <li class="ring">
            <a href="javascript:;">ACCOUNT</a>
        </li>
        <li>
            <a href="javascript:;">Support</a>
        </li>
        <li>
            <a ui-sref="home.register">Create account</a>
        </li>
        <li>
            <a ui-sref="home.login">Sign in</a>
        </li>
    </ul>
</div> -->