<div>
    <div class="wrapper">
        <header id="app_header">
            <a class="interfac header-back" onclick="back('right', '#/home')"></a>
            <h1 class="ui-title">Sign in</h1>
            <a class="interface header-panel ui-link" href="javascript:;" ng-click="navAction()"></a>
        </header>
        <section class="midArea">
            <div class="form-horizontal ui-content">
                <span id="error_text" class="errorStatus"></span>
                <span class="succesStatus" ng-show="logout_msg">Logout is successful.</span>
                <span class="errorStatus" ng-show="deactivate_msg">Account is deactivated.</span>
                <span class="succesStatus" ng-show="forgot_msg">Login now with your new password.</span>
                <span class="succesStatus" ng-show="reg_msg">{{reg_Status}}</span>
                <div class="form-group text-fields" style="margin-top: 9px;">
                    <label for="inputEmail3" class="col-sm-3 control-label" id="email_label">
                        Phone or username
                    </label>
                    <div class="col-sm-9">
                        <input type="text" class="form-control" id="inputEmail3" ng-model="email" name="email" placeholder="Phone or username" autocapitalize="off" spellcheck="true">
                    </div>
                    <div style="margin-top: 6px;">
                    <span id="email_status" class="errorStatus" style="margin-left: 14px;"></span>
                    </div>
                </div>

                <div class="form-group text-fields" style="margin-top: -20px;" >
                    <label for="inputPassword3" class="col-sm-3 control-label" id="pwd_label">Password</label>
                    <div class="col-sm-9">
                        <input type="password" name = "password" placeholder="Password" class="form-control" id="inputPassword3"  ng-model="password" autocapitalize="off" spellcheck="true">
                    </div>
                    <div style="margin-top: 6px;">
                    <span id="passwd_status" class="errorStatus" style="margin-left: 14px;"></span>
                    </div>
                </div>

                <div class="form-group text-fields">
                    <div class="col-sm-12" style="margin-top: -21px;">
                        <div class="checkbox rememberBlock">
                            <input type="checkbox" checked="checked" value="1" id="signin_remember" name="signin_remember" ng-model="remember" class="css-checkbox">
                            <label class="css-label lite-green-check" for="signin_remember">Remember me
                            </label>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class=" col-sm-12">
                        <button type="button" class="btn btn-default fullwidth fullwidth_blue" ng-click="signIn()">Sign in</button>
                    </div>
                    <div class=" col-sm-12">
                        <button type="button" class="btn btn-default fullwidth" ng-click="register()">Register</button>
                    </div>
                    <div class=" col-sm-12">
                        <button type="button" class="btn btn-default fullwidth" ng-click="forgotPasswd()">Forgotten password?</button>
                    </div>
                </div>
            </div>
        </section>
        <section class="earn">
            <p class="text-center">ringhop © {{date | date:'yyyy'}}</p>
        </section>
        <!--div class="phpdebugbar-openhandler-overlay" style=""></div>
        <div class="ui-loader ui-corner-all ui-body-b ui-loader-verbose">
            <span class="ui-icon-loading">
            </span>
            <h1>Loading</h1>
        </div-->
    </div>
    <div id="sidebar-wrapper" class="side-menu" >
        <ul class="sidebar-nav">
            <li class="sidebar-brand">
                <a ui-sref="home">
                    Home
                </a>
            </li>
            <li class="ring">
                <a href="javascript:;">RINGHOP</a>
            </li>
            <li>
                <a ui-sref="home.howitworks">How it works</a>
            </li>
            <li>
                <a ui-sref="home.become_Pro">Become a Pro</a>
            </li>
            <!-- <li>
                <a ui-sref="home.faqs">Overview</a>
            </li> -->
            <li class="ring">
                <a href="javascript:;">ACCOUNT</a>
            </li>
            <li>
                <a ui-sref="home.contactus">Support</a>
            </li>
            <li>
                <a ui-sref="home.register">Create account</a>
            </li>
            <li>
                <a ui-sref="home.login">Sign in</a>
            </li>
        </ul>
    </div>
</div>
