<div class="wrapper">
    <header>
        <a class="interfac header-back" onclick="back('right', '#/home/pinConfirm')"></a>
        <h1 class="ui-title" >Register</h1>
        <a class="interface header-panel ui-link" href="javascript:;" ng-click="navAction()"></a>
    </header>
    <section class="midArea">
        <!-- <div class="toContactDiv" style="padding-top: 12px;"> -->
        <div class="toContactDiv" style="padding-top: 12px;" ng-show="show_toContactDivR">
            <h6>Create account to connect with..</h6>
            <div class="thumb1">
                <!-- <img ng-src="../img/profile-big.jpg" class="img-responsive" alt="..." id="profile_pic"> -->
                <span class="img-responsive" alt="..." id="profile_pic"></span>
            </div>
            <h2>{{contactWithUserName}}</h2>
        </div>
        <div name="userForm" class="form-horizontal ui-content" id="register_form2">
            <div id="register2Status" class="errorStatus"></div>

            <h4>Next step..create your account</h4>
            <div class="form-group">
                <label for="username_input" class="col-sm-3 control-label" id="username_label">
                    User name
                </label>
                <div class="col-sm-9">
                    <input type="text" class="form-control" id="username_input" placeholder="Choose a username" ng-model="register_username" name="register_username" value="" autocapitalize="off" spellcheck="true" >
                    <span id="username_error" class="errorStatus"></span>
                </div>
            </div>

            <!-- <div class="form-group">
                <label for="email_input" class="col-sm-3 control-label" id="email_label">Email address</label>
                <div class="col-sm-9">
                    <input type="email" name = "register_email" class="form-control" id="email_input" placeholder="Email" ng-model="register_email" value="" autocapitalize="off" autocorrect="off">
                    <span id="email_error" class="errorStatus"></span>
                </div>
            </div> -->

            <div class="form-group">
                <label for="regPassword7" class="col-sm-3 control-label" id="password2_label">Choose password</label>
                <div class="col-sm-9">
                    <input type="text" name = "register_password" class="form-control" id="regPassword7" placeholder="At least 6 characters" ng-model="register_password" value="" autocapitalize="off" spellcheck="true">
                    <span id="password2_error" class="errorStatus"></span>
                </div>
            </div>

            <!-- <div class="form-group">
                <label for="regGender7" class="col-sm-3 control-label" id="gender_label">Gender</label>
                <div class="col-sm-9">
                    <select name="register_gender" id="regGender7" ng-model="register_gender" class="selectpicker form-control">
                        <option selected="selected" value="" disabled>I am a..</option>
                        <option value="M">Male</option>
                        <option value="F">Female</option>
                    </select>
                    <span id="gender_error" class="errorStatus"></span>
                </div>
            </div> -->

            <div class="form-group" id="checkbox_reg2">
                <div class="col-sm-12">
                    <div class="checkbox rememberBlock">
                        <input type="checkbox" id="agreement" name="register_optout" ng-model="agreement"  class="css-checkbox" value="0" ng-change="registerCheckbox(agreement)">

                        <!-- Nanda -->
                        <label for="agreement" class="css-label lite-green-check" id="terms_label">
                            By creating an account, you agree to the <a href="javascript:;" ng-click="termsService()">Terms of Service</a> and <a href="javascript:;" ng-click="privacy_Policy()">Privacy Policy</a>.
                            <!-- I confirm that I am at least 18 years of age and agree with terms and privacy policy. -->
                        </label>
                    </div>
                    <span id="terms_error" class="errorStatus"></span>
                </div>
            </div>
            <div class="form-group">
                <div class=" col-sm-12">
                    <button type="button" class="btn btn-default fullwidth fullwidth_blue" ng-click="registerSubmit()">Register</button>
                </div>
            </div>
            <p class="terms">By registering you accept the our Terms of Use and Privacy and agree that we and our selected partners may contact you with relevant offers and services. You may unsubscribe or update your preferences at any time in Ringhop.</p>
        </div>
    </section>
    <section class="earn">
        <p class="text-center">ringhop © {{date | date:'yyyy'}}</p>
    </section>
</div>
<div id="sidebar-wrapper" class="side-menu" >
    <ul class="sidebar-nav">
        <li class="sidebar-brand">
            <a ui-sref="home">
                Home
            </a>
        </li>
        <li class="ring">
            <a href="javascript:;">RINGHOP</a>
        </li>
        <li>
            <a ui-sref="home.howitworks">How it works</a>
        </li>
        <li>
            <a ui-sref="home.become_Pro">Become a Pro</a>
        </li>
        <!-- <li>
            <a ui-sref="home.faqs">Overview</a>
        </li> -->
        <li class="ring">
            <a href="javascript:;">ACCOUNT</a>
        </li>
        <li>
            <a ui-sref="home.contactus">Support</a>
        </li>
        <li>
            <a ui-sref="home.register">Create account</a>
        </li>
        <li>
            <a ui-sref="home.login">Sign in</a>
        </li>
    </ul>
</div>