<header ng-controller="menuController">
    <a class="interfac header-back"  ng-click="backButtonMessages()"></a>
    <h1 class="ui-title">Text messages</h1>
    <!-- <a class="interface header-panel ui-link" href="javascript:;" ng-click="leftMenu()"></a> -->
</header>
<div>
    <div class="col-sm-6 button_select" ng-show="messageOptions">
        <button type="button" class="btn btn-default buttonMessage fullwidth_bluemsg" id="billable_user" ng-click="billableUser()">Billable Users</button>
        <button type="button" class="btn btn-default buttonMessage fullwidth_white" id="trial_user" ng-click="showLeads($event)">Leads</button>
    </div>
    <section class="text-msg" ng-class="{textMsgPro:isPro}" ng-show="showmeleads">
        <div class="first-text" ng-class="{orangeBG:isPro && item.color != ''}" ng-repeat="item in recentChats">
            <a href="javascript:;" ng-click="replyLink(item.originator_id)" ng-if="item.last_sender == userid" ng-style="{'color':'black'}">
                <div class="row" ng-style="{'width':'100%'}">
                    <h5 ng-style="{'padding-left':'20px','margin-bottom':'5px'}">{{item.displayname}}</h5>
                    <div ng-style="{'padding-left':'20px'}" class="text-left longer_text col-xs-8">
                        <p ng-style="{'text-overflow': 'ellipsis','overflow': 'hidden','white-space': 'nowrap'}">
                            {{item.msg}}
                        </p>
                    </div>
                    <div class="text-right text-right-msg col-xs-4">
                        <p>{{item.maxtime}}</p>
                        <span></span>
                    </div>
                    <input type="hidden" id="message_id_{{item.id}}" value="{{item.originator_id}}"/>
                </div>
            </a>
            <a href="javascript:;" ng-click="replyLink(item.originator_id)" ng-if="item.last_sender != userid" ng-style="{'color':'red'}">
                <div class="row" ng-style="{'width':'100%'}">
                    <h5 ng-style="{'padding-left':'20px'}">{{item.displayname}}</h5>
                    <div ng-style="{'padding-left':'20px'}" class="text-left longer_text col-xs-8">
                        <p ng-style="{'text-overflow': 'ellipsis','overflow': 'hidden','white-space': 'nowrap'}">
                            {{item.msg}}
                        </p>
                    </div>
                    <div class="text-right text-right-msg col-xs-4">
                        <p>{{item.maxtime}}</p>
                        <span></span>
                    </div>
                    <input type="hidden" id="message_id_{{item.id}}" value="{{item.originator_id}}"/>
                </div>
            </a>
        </div>
        <div class="no_msg" ng-show="noMessageDiv">
            No recent messages available.
        </div>
        <!--div class="first-text">
            <div class="row">
                <div class="text-left col-xs-8">
                    <h5>Susie Suxalot</h5>
                    <p>hey</p>
                </div>
                <div class="text-right col-xs-4">
                    <p>2014-06-19 12:25:22</p>
                </div>
            </div>
        </div-->

    </section>
    <section class = "leadsSection" ng-show="showLeadstext">
        <div id = "leadsText">
            <div style="margin-left: -10px;">What are leads?</div>
            <div style="width: 330px;padding-right: 35px;margin-left: -10px;word-spacing: -0.5px;">
               Leads are user that have attempted to contact you , but have not yet added a credit card to their account. Each lead has been notified they must first add a payment method before communicating with you. You can view the leads attempted message by clicking below and optionally choose to send a free message.
            </div>
        </div>
        <div class="form-group">
            <div class=" col-sm-12" style="margin-top: 15px;width: 101%;margin-left: -1px;">
                <button type="button" class="btn btn-default fullwidth fullwidth_blue" ng-click="leadsUser()">Show me my leads</button>
            </div>
        </div>
    </section>
    <section class="midArea paginate" ng-show="paginateSection">
        <div class="form-horizontal ui-content">
            <div class="form-group">
                <div class="col-xs-6 prev-arrow">
                    <button class="btn btn-default fullwidth fullwidth_blue prev" id="prevBtn" ng-disabled='prevDisabled' ng-click="prevBtn()" ng-model="prevDisabled">
                        <span id="arrow"></span>
                        Prev
                    </button>
                    <!-- <span></span> -->
                </div>
                <div class="col-xs-6 next-arrow">
                    <button class="btn btn-default fullwidth fullwidth_blue next" id="nextBtn" ng-disabled='nextDisabled' ng-click="nextBtn()" ng-model="nextDisabled">
                        <span></span>
                        Next
                    </button>
                </div>
            </div>
            <span class="errorStatus"></span>
        </div>
    </section>
    <section class="earn">
        <p class="text-center">
            ringhop © {{date | date:'yyyy'}}
        </p>
    </section>
</div>
