<header ng-controller="menuController">
    <a class="interfac header-back" ng-click="backButton2()"></a>
    <h1 class="ui-title">{{diplayUsername}}</h1>
    <!-- <a class="interface header-panel ui-link" href="javascript:;" ng-click="leftMenu()"></a> -->
</header>
<div id="wrapper">
<section class="midArea">
    <div class="form-horizontal ui-content">
        <!-- <div class="creditInfo">
            <span class="succesStatus">{{creditInfo}}</span>
        </div> -->
        <div class="addcreditsdiv" ng-show="missedCall">
            <p class="creditspara" style="font-size: 15px;"> {{pro_name}} is not available to take your call right now.</p>
            <div class=" col-sm-12">
                <button type="button" class="fullwidth_green1" style="background: #469beb;border-color: #469beb;" ng-click="goBack()">BACK</button>
            </div>
        </div>
        <div class="addcreditsdiv" ng-show="videoCallBusy">
            <p class="creditspara" style="font-size: 15px;"> {{pro_name}} is busy with another call.</p>
            <div class=" col-sm-12">
                <button type="button" class="fullwidth_green1" style="background: #469beb;border-color: #469beb;" ng-click="backButton2()">BACK</button>
            </div>
        </div>
        <div class="addcreditsdiv" ng-show="videoCallInactive">
            <p class="creditspara" style="font-size: 15px;"> {{pro_name}} has deactivated the account.</p>
            <div class=" col-sm-12">
                <button type="button" class="fullwidth_green1" style="background: #469beb;border-color: #469beb;" ng-click="backButton2()">BACK</button>
            </div>
        </div>
    </div>
    <section ng-show="pro_info != 2" ng-style="{'margin-top': '70%'}">
        <div class="cont_headline" ng-show="suggest_headline_show">
            <p style="margin-left: 15px;">SUGGESTED PROS</p>
        </div>
        <section class="recentcontSection" ng-class="recentcont_Section">
            <div class="box1" id="contact_{{contact.id}}"ng-repeat="contact in suggestedPros">
                <section class="dashboard">
                    <div class="contact slideWrap wrap" ng-click="gotoProfile(contact.id,contact.displayname)">
                        <a href="javascript:;" >
                            <div class="image" style="height:57px;">
                                 <img class = "imgcircle" ng-src="{{contact.profile_images.profile_image}}" alt="">
                            </div>
                            <div class="text">
                                <h2 style="margin-bottom: 5px !important;margin-top:20px !important;color: black !important;">{{contact.displayname}}</h2>
                                <p style="min-height: 20px;line-height: 15px;overflow: hidden;margin-bottom: 5px;color: black !important;" ng-if="contact.profile_status!= null">{{contact.profile_status}}</p>
                                 <p style="line-height: 24px;overflow: hidden;margin-bottom: 8px;color: black !important;" ng-if="contact.profile_status == null">{{contact.profile_status}}</p>
                                <h6 style="margin-top: 0px;line-height: 1em;">{{contact.online_status}}</h6>
                            </div>
                        </a>
                        <div class="setting dashboardContact" style="border-left: 0px;">
                            <a href="javascript:;" ng-click="gotoProfile(contact.id,contact.displayname)" style="color: grey;opacity: 0.5;">
                              <span class="glyphicon glyphicon-chevron-right"></span>
                            </a>
                        </div>
                        <div class="clr"></div>
                        <div class="clr"></div>
                    </div>
                </section>
            </div>
        </section>
        <!-- <div class="all_cont_div" ng-show="suggest_div_show">
            <p ng-click="suggestProLink()">MORE SUGGESTIONS</p>
        </div> -->
    </section>
</section>
</div>
<section class="earn" ng-style="{'position':'absolute','bottom':'-55px','width':'100%','text-align':'center'}">
    <p class="text-center">ringhop © {{date | date:'yyyy'}}</p>
</section>