<div>
    <header ng-controller="menuController">
        <a class="interfac header-back"  ng-click="backButton()"></a>
        <h1 class="ui-title">Contact us</h1>
        <!--a class="interface header-panel ui-link" href="javascript:;"></a-->
    </header>
    <section class="midArea">
        <div class="detail_text detail_text3">
            <h2>General Support</h2>
            <p>Have a technical or billing question?</p>
            <a href="tel:+{{ringhop_support_no_data1}}"><h2 class="start">Call: {{ringhop_support_no}}</h2></a>
            <h2>Are you a Ringhop Pro?</h2>
            <p>If you are Ringhop Pro contact our business department</p>
            <a href="tel:+{{ringhop_pro_no_data1}}"><h2 class="start">Pros only call: {{ringhop_pro_no}}</h2></a>
            <p class="terms neither">For corporate and press inquiries email: <a href="javascript:;" class="ui-link">{{ringhop_email}}</a></p>
        </div>
        
    </section>
    <section class="earn">
        <p class="text-center">ringhop © {{date | date:'yyyy'}}</p>
    </section>
</div>
     
      