 <header  ng-controller="menuController">
    <a class="interfac header-back" ng-click="backButton()"></a>
    <h1 class="ui-title">Get a ringhop phone number</h1>
    <!--a class="interface header-panel ui-link" href="javascript:;"></a-->
</header>
<div>
    <section class="midArea">
        <div class="detail_text proNoText">
            <h2>Dedicated, Shareable Phone Number</h2>
            <p style="margin-left: -5px;margin-bottom: 20px;font-size:15px;">Get your own shareable ringhop phone number and route it anonymously to your phone. A great way to look professional with your clients and fans.</p>
            <p style="margin-left: -5px;font-size:15px;">Post your ringhop phone number and charge for SMS and phone calls. Only works within the United States and Canada.</p>
        </div>
        
        <div class="detail_text shareProNo" style="margin-top: 25px;margin-left: -5px;" ng-show="showShareableNoBtn">
            <h2 class="start" ng-click="getProNo()">Request Shareable Number</h2>
        </div>
        <span class="succesStatus" style="text-align: center;">{{proNoSuccessMsg}}</span>
    </section>
    <section class="earn">
        <p class="text-center">ringhop © {{date | date:'yyyy'}}</p>
    </section>
</div>
     