<header ng-controller="menuController">
    <a class="interfac header-back" ng-click="backButton()"></a>
    <h1 class="ui-title">Record greeting</h1>
    <!-- <a class="interface header-panel ui-link" href="javascript:;" ng-click="leftMenu()"></a> -->
</header>
<section class="midArea">
    <div class="form-horizontal ui-content">
        <div ng-if ="greetingUrl != null">
            <p class="terms">
                Play my recorded voice greeting.
            </p>
             <!-- <audio media-player="audio1" data-playlist="playlist1">
                <source src="{{greetingUrl}}">
             </audio> -->       
            <div class="audioPlayerFrame"> 
                <audio src="{{greetingUrl}}"  autoload="true" controls="controls"></audio>
                <a id="deletegreeting" href="javascript:;" ng-click="delaudiopopup()" data-rel="popup" data-transition="pop" data-position-to="window" class="fa fa-trash-o"></a>
            </div>
          <div ng-show="showdelaudiopopup">
              <!-- Delete greeting Popup-->
            <div data-role="popup" class="deleteDiv" style="width:300px;top:45%;">
              <span ng-click="closedelaudio()">
                <img src="img/cross.png" class="crossPopup"/>
              </span>
                <div data-role="header" class="borderNone" data-theme="a" id="deleteheading">
                  <h3 class="deleteTitle1">Are you sure you want to delete this greeting?</h1>
                </div>
                <div role="main" class="ui-content" id="deletecontent">
                  <p style="text-align:center;color:black;">Click OK to delete this greeting.</p>
                </div>
                <div class="center borderTopSolid" id="okdiv">
                  <a href="javascript:;" class="ui-btn ui-btn-inline" id="deleteanchor1" data-rel="back" data-transition="flow" ng-click="deletegreeting()">OK</a>
                </div>
            </div>
          </div>
        </div>
    	<p class="terms newterms">
			Record a new voice greeting to let your callers hear your voice before you connect. This is a great way to let introduce yourself and your services before they connect.
		</p>
		<div class="form-group">
      <div class=" col-sm-12">
        <a href="tel:+ 1{{callNo}}" class="btn btn-default fullwidth fullwidth_blue" style="width: 100%;margin-left: 0px;margin-top: 10px;color: #fff;">Record new voice greeting</a>
  	  </div>
    </div>
        <p class="terms newterms">
			Click the button above to call and record your message. You will be asked to enter the number below on your phone keypad.
		</p>
		<div id="pin">
			<!-- 4211 -->
			{{getPin}}
		</div>
		<div style="margin:auto;width:150px;text-align:center;margin-bottom:15px;">
			voicemail pin code
		</div>
        <p class="refreshBlock">
         <a id="refreshpin" href="javascript:;" class="ui-link" ng-click="refreshpin()">
         <span class="glyphicon glyphicon-repeat" style="background-color:rgba(0, 0, 0, 0.3);border-radius: 50%;padding:4px;color:#fff;"></span>Refresh PIN</a>
        </p>
	</div>
</section>
<section class="earn">
    <p class="text-center">ringhop © {{date | date:'yyyy'}}</p>
</section>