<header class="text-messages" ng-controller="menuController">
    <a class="interfac header-back" ng-click="backButton()"></a>
    <h1 class="ui-title">My Shouts</h1>
    <!-- <a class="interface header-panel ui-link" href="javascript:;" ng-click=""></a> -->
</header>
<div class="previewDiv" ng-show="previewImg"  data-role="popup">
    <span ng-click="closeHeaderPopup()">
      <img src="img/cross.png" class="crossPopup" />
    </span>
   <!--  <img ng-src="{{mainImageUrl}}" class="onlyphoto1" id="image-pop"/> -->
    <img ng-src="{{mainImageUrl}}" class="onlyphoto" id="shout_image" style="max-height:225px; height:220px;">
    <p class="photoAnchor">
      This view is similar to what user see's on his end before buying.</p>
</div>
<div id="wrapper">
<div class="new" style="overflow-y: auto;">
    <section class="midArea" style="width:100%;">
    
        <div class="form-horizontal ui-content">
          <p class="earn" style="margin-top: 0px;letter-spacing: -0.03em;word-spacing: -0.04em;font-size: 13px;"> Shouts are an easy way to send a paid or free photo to all your contacts at once. Each user will receive a separate photo msg.</p>
            <div class="form-group">
                <div class=" col-sm-12">
                <button type="button" class="btn btn-default fullwidth fullwidth_blue" style="width: 100%;
                margin-left: 0px;margin-top: 10px;font-size: 17px;" ng-click="createShout()">Create new shout</button>
            </div>
                
            </div>
            
            <div class="row">
              <div class="headerLabel">
                 <label id="photofile1" for="filesToUpload" class="col-sm-3 control-label">{{present_page_limit}} - {{currentCount}} of {{shoutTotal}}</label>
                 <label id="photofile2" for="filesToUpload" class="col-sm-3 control-label">Sorted by Most recent</label>
              </div>
            </div>
            <div class ="clr"></div>
            <div class="no_msg" ng-show="noMessageDiv">
                No shouts available.
            </div>
  <div class="maincontent backgroundNone" style="position:relative;">
          
      <ul>
        <li class="photoimage1" ng-repeat="shoutImg in shoutImages" id="shout_{{shoutImg.id}}">
        <!-- <div id="shout_{{shoutImg.id}}"> -->
          <div class="photoimage">
              <!-- <div class="previewDiv msgImgPopup" ng-show="previewImg" id="{{shoutImg.id}}" ng-if="currImgId == shoutImg.id" data-role="popup">
                <span ng-click="closeHeaderPopup()">
                  <img src="img/cross.png" class="crossPopup" />
                </span>
                  <img ng-src="{{mainImageUrl}}" class="onlyphoto1" id="image-pop"/>
              </div> -->
              <div class="deleteDiv" ng-show="imgDelete" id="{{shoutImg.id}}" ng-if="currImgId == shoutImg.id" data-role="popup">
                <span ng-click="closeHeaderPopup()">
                  <img src="img/cross.png" class="crossPopup" />
                </span>
                <div data-role="header" class="borderNone" data-theme="a" id="deleteheading">
                  <h3 class="deleteTitle">Are you sure you want to delete?</h3>
                </div>
                <div role="main" class="ui-content" id="deletecontent">
                  <p style="color:black;">Click OK to delete this shout. Note that users who previously purchased this photo will still have their copy.</p>
                </div>
                <div class="center borderTopSolid" id="okdiv">
                  <a href="javascript:;" class="ui-btn ui-btn-inline" id="deleteanchor" data-rel="back" data-transition="flow" ng-click="deleteshout(shoutImg.shoutId)">OK</a>
                </div>
              </div>
              <img ng-src="{{shoutImg.small_image_url}}" class="onlyphoto" id="shout_image" style="max-height:225px;">
              <ul class="a">
                <li class="commonimages">
                  <a href="javascript:;" class="btn btn-lg eyebutton neweye2" ng-click="OpenImg(shoutImg.big_image_url,shoutImg.shoutId)"><span class="glyphicon glyphicon-eye-open previewbtn"></span><span class="eyespan">Preview</span>
                  </a>

                </li>
              <li class="commonimages">
                <a href="javascript:;" class="btn btn-lg eyebutton neweye1" ng-click="DeleteImg(shoutImg.shoutId)">
              <span class="glyphicon glyphicon-ban-circle previewbtn"</span> <span class="eyespan" style="left:-7px">Delete</span>
                </a>
              </li>
        </ul>
          <div class="iconsection">
            <div class="smallsec">
              <p class="photoedit" style="color:red;">Photo</p>
            </div>
            <div class="allUser">
              <div>
                <a href="javascript:;" class="btn btn-lg" style="margin-left: 5px;font-size:14px;">
                  <span class="glyphicon glyphicon-send imagearrow"></span><span class="eyespan1" >{{shoutImg.sent_to_list}}</span>
                </a>
              </div>
            </div>
            <div class="cameraUpload">
              <div>
                <a href="javascript:;" class="btn btn-lg">
                  <span class="glyphicon glyphicon-camera imagecamera"></span> <span class="eyespan2" ng-if="shoutImg.media_price !='0.00'">${{shoutImg.media_price}}</span>
                  <span class="eyespan2" ng-if="shoutImg.media_price =='0.00'">Free</span>
                </a>
              </div>
            </div>
          </div>
              <div class="clr"></div>
         </div>
            
            <div class="shoutDes">
              <p style="font-size:12px;margin-left:12px;margin-top: 0;padding-top: 10px;overflow: hidden;word-spacing: -2px;color:black;word-wrap: break-word;">{{shoutImg.tagline}}</p>
                <span style="font-size:13px;color: #999;margin-left:12px;display:block;margin-top: 15px;">{{Name}}</span>
              <p style="font-size:13px;color: #999;margin-left:12px;margin-top:3px;margin-bottom:0;padding-bottom:10px;">Added {{shoutImg.initial}}
            </p>
          </div>
        <!-- </div> -->
          <!-- <div class="smallsec1">
            <a href="#" class="btn btn-lg">
              <span class="glyphicon glyphicon-star imagestar"></span> 
            </a>
              <span class="buyclass1" style="display: block;
              float: right;margin-left: 20px;padding-left: 20px;padding-top: 8px;margin-right: 10px;font-size: 11px;">$35,999,49</span>
            <a href="#" class="btn btn-lg">
              <span class="glyphicon glyphicon-star imagestar" style="float: left;left: 30px;"></span> 
            </a>
              <span class="buyclass" style="display: block; float: right; padding-top: 8px; margin-right: -10px;font-size: 11px;">9,999 buys</span>
            
          </div> -->
      </li>


    </ul>
              <!-- <img src="img/city.jpg" class="onlyphoto" id="chat_image" style="max-height:220px;" /> -->
            
          
              <!-- <center><img src="images/green.jpg" alt="please wait" height="300" width="400"></center> -->
              
  </div>
            <!-- <div class="maincontent backgroundNone">
              <div class="photoimage">
              <div style="position:relative;">
                  <img src="img/city.jpg" class="onlyphoto" id="chat_image" style="max-height:220px;" />
              </div>
                <ul class="a">
                  <li class="commonimages">
                  <a href="#" class="btn btn-lg eyebutton neweye2"><span class="glyphicon glyphicon-eye-open previewbtn"></span><span class="eyespan">Preview</span>
                  </a>
                  </li> -->
                  <!-- <li class="commonimages">
                  <a href="#" class="btn btn-lg eyebutton neweye">
                    <span class="glyphicon glyphicon-pencil previewbtn"></span> <span class="eyespan" style="right:17px">EDIT</span>
                  </a>
                  </li> -->
                  <!-- <li class="commonimages">
                  <a href="#" class="btn btn-lg eyebutton neweye1">
                    <span class="glyphicon glyphicon-ban-circle previewbtn"</span> <span class="eyespan" style="left:-7px">Delete</span>
                  </a>
                  </li>
                  </ul>
                  
                    <div class="iconsection">
                    <div class="smallsec">
                        <p class="photoedit" style="color:red;">Photo</p>
                    </div>
                    <div class="allUser">
                     <div>
                      <a href="#" class="btn btn-lg" style="margin-left: 5px;font-size:14px;">
                        <span class="glyphicon glyphicon-send imagearrow"></span><span class="eyespan1" >All my users</span>
                      </a>
                     </div>
                    </div>
                    </div>
                    <div class="clr"></div>
                  </div>
                  <div class="shoutDes">
                      <p style="font-size:12px;margin-left:12px;margin-top: 0;padding-top: 10px;overflow: hidden;height: 27px;word-spacing: -2px;color:black;">This is where the description goes, so just go with it. It is</p>
                      <span style="font-size:13px;color: #999;margin-left:12px;margin-top: 15px;display:block;">Name</span>
                      <p style="font-size:13px;color: #999;margin-left:12px;margin-top:3px;margin-bottom:0;padding-bottom:10px;">added May,13 2015</p>
                  </div>
                  <div class="smallsec1">
                      <span class="buyclass1" style="padding-top: 10px;display:block;font-size: 12px;float:right;margin-right:10px;">free</span>
                  </div>
            </div>  
        <div class="clr"></div>
    </div> -->
    
</section>        
<section class="midArea paginate" ng-show="paginateSection">
    <div class="form-horizontal ui-content">
        <div class="form-group">
            <div class="col-xs-6 prev-arrow">
                <button class="btn btn-default fullwidth fullwidth_blue prev" id="prevBtn" ng-disabled='prevDisabled' ng-click="prevBtn()" ng-model="prevDisabled">
                    <span id="arrow"></span>
                    Prev
                </button>
            </div>
            <div class=" col-xs-6 next-arrow">
                <button class="btn btn-default fullwidth fullwidth_blue next" id="nextBtn" ng-disabled='nextDisabled' ng-click="nextBtn()" ng-model="nextDisabled">
                    <span></span>
                    Next
                </button>
            </div>
        </div>
        <span class="errorStatus"></span>
    </div>
</section>
    <section class="earn">
        <p class="text-center">ringhop © {{date | date:'yyyy'}}</p>
    </section>
</div>
</div>

