<header ng-controller="menuController">
    <a class="interfac header-back" ng-click="backButton()"></a>
    <h1 class="ui-title">{{displayContactHeading}}</h1>
    <!-- <a class="interface header-panel ui-link" href="javascript:;" ng-click="leftMenu()"></a> -->
</header>
<section class="midArea">
    <div class="form-horizontal ui-content">
    	<div class="right-inner-addon ">
		    <!-- <i class="glyphicon glyphicon-search"></i> -->
		    <a href="javascript:;" ng-click="removeTextSearch()">
	        	<span class="glyphicon glyphicon-remove" ng-show="hideRemoveIcon" ></span>
	        </a>
		    <input type="search" class="form-control" placeholder="{{placeholder}}" ng-model="searchContact" ng-keyup="OnKeyupRemove($event)" autocapitalize="off" spellcheck="true"/>
		    <a href="javascript:;">
				<span class="glyphicon glyphicon-search innersearch">
				</span>
			</a>
		</div>
		<div class="searchIconContact">
			<button type="button" style="background: #007DFD; border-color:#007DFD;" ng-click="searchThisContact()">
	            <a href="javascript:;" style="color:#fff;" ng-click="searchThisContact()">Find</a>
            </button>
        </div>
		<!-- <div class="searchIconContact">
			<button type="button" ng-click="searchThisContact()">
				<a href="javascript:;" >
					<span class="glyphicon glyphicon-search">
					</span>
				</a>
			</button>
		</div> -->
		<div class="no_result_msg" ng-show="Show_no_result_msg">
			<p>{{no_result}}</p>
		</div>
		<div class="contactAlertError" ng-show="contactAlertErrorShow">
			{{ alreadyAddedContact }}
		</div>
		<div class="contact add_contact" ng-show="contactAddBtn" style="margin-top: 10px;">
            <a href="javascript:;">
                <div class="image" style="height:90px;">
                     <img ng-src="{{profileImgProContact}}" alt="" style="max-width: 90%;height: auto;">
                </div>
                <div class="text addContacttext">
                    <h2 style="margin-bottom: 0px !important;margin-top:20px !important;">{{addContactDisplayname}}</h2>
                    <p class="textP" style="height: 20px;line-height: 2.1em;overflow: hidden;margin-bottom: 5px;" ng-show="contact_profile_status">{{addContactProfileStatus}}</p>
                     <p style="line-height: 24px;overflow: hidden;margin-bottom: 8px;" ng-if="!contact_profile_status">{{addContactProfileStatus}}</p>
                    <h6 style="margin-top: 0px;line-height: 1em;">{{addContactOnlineStatus}}</h6>
                </div>
            </a>
            <div class="col-sm-12">
                <button type="button" class="btn btn-default fullwidth fullwidth_blue addContactButton" ng-click="saveContact()">ADD CONTACT</button>
            </div>
            <div class="clr"></div>
            <div class="clr"></div>
        </div>
		<!-- <div class="form-group" style="padding-bottom:0px; margin-bottom:0px;margin-top: 15px;" ng-show="contactAddBtn">
            <div class=" col-sm-12">
                <button type="button" class="btn btn-default fullwidth fullwidth_blue" ng-click="saveContact()">Add to Contacts</button>
            </div>
		</div> -->
	    <p style="margin: 20px -3px 0px !important;">
            Type a username above and click Find button
        </p>
	</div>
</section>
<section class="earn" ng-style="{'position':'absolute','bottom':'0','width':'100%','text-align':'center'}">
    <p class="text-center">ringhop © {{date | date:'yyyy'}}</p>
</section>