<header ng-controller="menuController">
    <a class="interfac header-back" ng-click="backButton()"></a>
    <h1 class="ui-title">
        Blocked Users
    </h1>
    <!-- a class="interface header-panel ui-link" href="javascript:;" ng-click="leftMenu()"></a> -->
</header>
<div id="blockSection">
    <section class="inner_action settingSec">
    	<div class="result_line">
    		<!--p>sorted by recently added</p-->
    	</div>
    	<div style="clear:both;"></div>
    </section>
    <div class="no_msg" ng-show="noBlockUsersDiv">
        {{noBlockUsers}} 
    </div>
    <div class="blockLoop" ng-repeat="blockUser in blockUsers">
        <section class="dashboard">
            <div class="contact" id="blockUser_{{blockUser.blocked_user_id}}">
                <a href="javascript:;" ng-click="blockeduserLink(blockUser.blocked_user_id)">
                    <div class="image" style="height: 75px;">
                         <img class="imgcircle" ng-src="{{blockUser.profile_images.profile_image}}" alt="">
                    </div>
                    <div class="text">
                        <h2 style="margin-bottom: 0px !important;margin-top:15px !important;">{{blockUser.displayname}}</h2>
                        <p style="height: 20px;line-height: 20px;overflow: hidden;margin-bottom: 0">{{blockUser.profile_status}}</p>
                        <h6 style="margin-top: 0px;">{{blockUser.online_status}}</h6>
                    </div>
                </a>
                <div class="setting">
                    <a href="javascript:;" ng-click="openPopup(blockUser.blocked_user_id)"><span class="glyphicon glyphicon-cog"></span></a>
                </div>
                <div class="clr"></div>
                <div class="clr"></div>
            </div>
        </section>

        <section>
            <div class="popupContact popupBlock" id="{{blockUser.blocked_user_id}}" style="display:none"> 
                <p>{{blockUser.displayname}}</p>
                <ul>
                    <li ng-click="unblockUser(blockUser.blocked_user_id,blockUser.blocked_user_id)"><a href="javascript:;"><span class="glyphicon glyphicon-ok"></span>Unblock user</a></li>
                    <li ng-click="cancelPopup(blockUser.blocked_user_id)"><a href="javascript:;" class="cancel CenterText">Cancel</a></li>
                </ul>
            </div> 
        </section>
    </div>
    <section class="earn" ng-style="{'position':'absolute','bottom':'0','width':'100%','text-align':'center'}">
        <p class="text-center">ringhop © {{date | date:'yyyy'}}</p>
    </section>
</div>


  