<header ng-controller="menuController">
    <a class="interfac header-back" ng-click="backButton()"></a>
    <h1 class="ui-title">Payment Info</h1>
    <!--a class="interface header-panel ui-link" ui-sref="home.settings"></a-->
</header>
<section class="midArea">
    <div class="form-horizontal ui-content" id="paymentoption_form">
    <h4 style="font-size:1em;margin-top: -5px !important;">Select payment method</h4>
    <p class="subheading">Don't worry. You can always change this at a later time.</p>
        <div class="col-sm-12">
            <div class="checkbox rememberBlock" style="margin-left: -15px;width: 114%;">
                <input type="checkbox" checked value="1" id="sms" name="sms" ng-model="directBankDep" class="css-checkbox" ng-change="bankdep(directBankDep)"> 
                <label for="sms" class="css-label sms lite-green-check">
                    {{ringhop_directBankDep}}
                </label>
                <p class="subDescription">ACH deposit to a bank account(weekly)</p>
            </div>
        </div>

        <div class="col-sm-12">
            <div class="checkbox rememberBlock" style="margin-left: -15px;width: 114%;">
                <input type="checkbox" checked value="1" id="inapp" name="inapp" ng-model="paymentcard" class="css-checkbox" ng-change="cardpayment(paymentcard)">
                <label for="inapp" class="css-label sms lite-green-check">
                    {{ringhop_paymentcard}}
                </label>
                <p class="subDescription">Direct payment to a re-loadable paycard(weekly)</p>
            </div>
        </div>
        <div class="col-sm-12">
            <div class="checkbox rememberBlock" style="margin-left: -15px;width: 114%;">
                <input type="checkbox" checked value="1" id="inmail" name="inmail" ng-model="mail" class="css-checkbox" ng-change="viaMail(mail)">
                <label for="inmail" class="css-label sms lite-green-check">
                    {{ringhop_mail}}
                </label>
                <p class="subDescription">US Only. Check sent via US Mail(every two weeks)</p>
            </div>
        </div>
        <span id="paymentMethod_error" class="errorStatus"></span>
        <div id="paymentOptionStatus" class="errorStatus"></div>
        
        <h4 style="font-size:1em;margin-top: 25px !important;padding-top: 15px;padding-bottom: 10px;">Account information</h4> <!-- Nanda 10 june -->
        <div class="form-group">
            <label for="fullname" class="col-sm-3 control-label" id="fullname_label1">
                Full legal name
            </label>
            <div class="col-sm-9">
                <input type="text" class="form-control" id="fullname" placeholder="enter full legal name" ng-model="fullname" name="fullname" value="" autocapitalize="off" spellcheck="true">
                <span id="fullname_error1" class="errorStatus"></span>
            </div>
        </div>

        <div class="form-group">
            <label for="dobname" class="col-sm-3 control-label" id="dob_label">
                Birth year
            </label>
            <div class="col-sm-9">
            <select name="birth_year" id="birth_year" ng-model="birth_year" class=" form-control country-code currPeriod card-expiry-month dobSelect" ng-change="birthyearChange(birth_year)">
                <option selected="selected" value="">Year</option>
                    <option value="1950">1950</option><option value="1951">1951</option><option value="1952">1952</option><option value="1953">1953</option><option value="1954">1954</option><option value="1955">1955</option><option value="1956">1956</option><option value="1957">1957</option><option value="1958">1958</option><option value="1959">1959</option><option value="1960">1960</option><option value="1961">1961</option><option value="1962">1962</option><option value="1963">1963</option><option value="1964">1964</option><option value="1965">1965</option><option value="1966">1966</option><option value="1967">1967</option><option value="1968">1968</option><option value="1969">1969</option><option value="1970">1970</option><option value="1971">1971</option><option value="1972">1972</option><option value="1973">1973</option><option value="1974">1974</option><option value="1975">1975</option><option value="1976">1976</option><option value="1977">1977</option><option value="1978">1978</option><option value="1979">1979</option><option value="1980">1980</option><option value="1981">1981</option><option value="1982">1982</option><option value="1983">1983</option><option value="1984">1984</option><option value="1985">1985</option><option value="1986">1986</option><option value="1987">1987</option><option value="1988">1988</option><option value="1989">1989</option><option value="1990">1990</option><option value="1991">1991</option><option value="1992">1992</option><option value="1993">1993</option><option value="1994">1994</option><option value="1995">1995</option><option value="1996">1996</option><option value="1997">1997</option><option value="1998">1998</option><option value="1999">1999</option><option value="2000">2000</option><option value="2001">2001</option><option value="2002">2002</option><option value="2003">2003</option><option value="2004">2004</option><option value="2005">2005</option><option value="2006">2006</option><option value="2007">2007</option><option value="2008">2008</option><option value="2009">2009</option><option value="2010">2010</option><option value="2011">2011</option><option value="2012">2012</option><option value="2013">2013</option><option value="2014">2014</option><option value="2015">2015</option> 
                </select>
            <select name="birth_month" id="birth_month" ng-model="birth_month" class=" form-control country-code currPeriod card-expiry-month dobSelect" ng-change="birthmonthChange(birth_month)">
                <option selected="selected" value="">Month</option>
                <option value="01">01</option><option value="02">02</option><option value="03">03</option><option value="04">04</option><option value="05">05</option><option value="06">06</option><option value="07">07</option><option value="08">08</option><option value="09">09</option><option value="10">10</option><option value="11">11</option><option value="12">12</option>
            </select>
            <select name="birth_day" id="birth_day" ng-model="birth_day" class=" form-control country-code currPeriod card-expiry-month dobSelect" ng-change="birthdayChange(birth_day)">
                <option selected="selected" value="">Day</option>
                <option value="01">01</option><option value="02">02</option><option value="03">03</option><option value="04">04</option><option value="05">05</option><option value="06">06</option><option value="07">07</option><option value="08">08</option><option value="09">09</option><option value="10">10</option><option value="11">11</option><option value="12">12</option><option value="13">13</option><option value="14">14</option><option value="15">15</option><option value="16">16</option><option value="17">17</option><option value="18">18</option><option value="19">19</option><option value="20">20</option><option value="21">21</option><option value="22">22</option><option value="23">23</option><option value="24">24</option><option value="25">25</option><option value="26">26</option><option value="27">27</option><option value="28">28</option><option value="29">29</option><option value="30">30</option><option value="31">31</option> 
            </select>
                
                
                
                <div id="dob_error" class="errorStatus" style="float:left;"></div>
            </div>
        </div>

        <!-- <div class="form-group">
            <label for="address1" class="col-sm-3 control-label" id="address1_label">Street address line 1</label>
            <div class="col-sm-9">
                <input type="text" name = "address1" class="form-control" id="address1" placeholder="enter street address" ng-model="address1" value="" autocapitalize="off" autocorrect="off">
                <span id="address1_error" class="errorStatus"></span>
            </div>
        </div>

        <div class="form-group">
            <label for="address2" class="col-sm-3 control-label" id="address2_label">Apt/address line 2 (optional)</label>
            <div class="col-sm-9">
                <input type="text" name = "address2" class="form-control" id="address2" placeholder="Apt/suite, etc (optional)" ng-model="address2" value="" autocapitalize="off" autocorrect="off">
                <span id="address2_error" class="errorStatus"></span>
            </div>
        </div> -->

        <!-- <div class="form-group">
            <label for="city" class="col-sm-3 control-label" id="city_label">City</label>
            <div class="col-sm-9">
                <input type="text" name = "city" class="form-control" id="city" placeholder="Enter City" ng-model="city" value="" autocapitalize="off" autocorrect="off">
                <span id="city_error" class="errorStatus"></span>
            </div>
        </div>

        <div class="form-group">
            <label for="state" class="col-sm-3 control-label" id="state_label">State</label>
            <div class="col-sm-9 country">
                <select name="state" id="state" ng-model="state" class="selectpicker form-control country-code select-padding" ng-options="stateObj.id  as stateObj.value for stateObj in stateList" ng-init = "state = stateList[0].id"> -->

                <!-- <select name="state" id="state" ng-model="state" class="selectpicker form-control country-code select-padding">
                    <option value="" selected="selected">(Select State)</option>
                    <option value="AL">Alabama</option>
                    <option value="AK">Alaska</option>
                    <option value="AZ">Arizona</option>
                    <option value="AR">Arkansas</option>
                    <option value="CA">California</option>
                    <option value="CO">Colorado</option>
                    <option value="CT">Connecticut</option>
                    <option value="DE">Delaware</option>
                    <option value="DC">District Of Columbia</option>
                    <option value="FL">Florida</option>
                    <option value="GA">Georgia</option>
                    <option value="HI">Hawaii</option>
                    <option value="ID">Idaho</option>
                    <option value="IL">Illinois</option>
                    <option value="IN">Indiana</option>
                    <option value="IA">Iowa</option>
                    <option value="KS">Kansas</option>
                    <option value="KY">Kentucky</option>
                    <option value="LA">Louisiana</option>
                    <option value="ME">Maine</option>
                    <option value="MD">Maryland</option>
                    <option value="MA">Massachusetts</option>
                    <option value="MI">Michigan</option>
                    <option value="MN">Minnesota</option>
                    <option value="MS">Mississippi</option>
                    <option value="MO">Missouri</option>
                    <option value="MT">Montana</option>
                    <option value="NE">Nebraska</option>
                    <option value="NV">Nevada</option>
                    <option value="NH">New Hampshire</option>
                    <option value="NJ">New Jersey</option>
                    <option value="NM">New Mexico</option>
                    <option value="NY">New York</option>
                    <option value="NC">North Carolina</option>
                    <option value="ND">North Dakota</option>
                    <option value="OH">Ohio</option>
                    <option value="OK">Oklahoma</option>
                    <option value="OR">Oregon</option>
                    <option value="PA">Pennsylvania</option>
                    <option value="RI">Rhode Island</option>
                    <option value="SC">South Carolina</option>
                    <option value="SD">South Dakota</option>
                    <option value="TN">Tennessee</option>
                    <option value="TX">Texas</option>
                    <option value="UT">Utah</option>
                    <option value="VT">Vermont</option>
                    <option value="VA">Virginia</option>
                    <option value="WA">Washington</option>
                    <option value="WV">West Virginia</option>
                    <option value="WI">Wisconsin</option>
                    <option value="WY">Wyoming</option> -->
                <!-- </select>
                <div id="state_error" class="errorStatus"></div>
            </div>
        </div>

        <div class="form-group">
            <label for="zipcode" class="col-sm-3 control-label" id="zipcode_label">Zip Code</label>
            <div class="col-sm-9">
                <input type="text" name = "zipcode" class="form-control" id="zipcode" placeholder="enter zipcode" ng-model="zipcode" value="" autocapitalize="off" autocorrect="off">
                <span id="zipcode_error" class="errorStatus"></span>
            </div>
        </div> -->

        <div class="form-group">
            <label for="country" class="col-sm-3 control-label" id="country_label">Country</label>
            <div class="col-sm-9 country">
                <select name="country" id="country" ng-model="country" class="selectpicker form-control country-code select-padding" ng-options="countryObj.id  as countryObj.value for  countryObj in countryList" ng-init = "country = countryList[0].id" ng-change="countryOption(country)">

                <!-- <select name="country" id="country" ng-model="country" class="selectpicker form-control country-code select-padding">
                    <option value="">(Select Country)</option>
                    <option value="US">United States</option>
                    <option value="CA">Canada</option> -->
                </select>
                <div id="country_error" class="errorStatus"></div>
            </div>
        </div>

        <div class="form-group" id="checkbox_payment">
            <div class="col-sm-12">
                <div class="checkbox rememberBlock">
                    <input type="checkbox" id="output" name="output" ng-model="output" class="css-checkbox" value="Y" ng-change="outputChange(output)">
                    <label for="output" class="css-label lite-green-check" id="output_label">
                        Yes, I agree with payment <a href="javascript:;" class="ui-link" ng-click="forward('left','#/home/terms')">terms and conditions</a>.
                    </label>
                </div>
                <span id="output_error" class="errorStatus"></span>
            </div>
        </div>

        <div class="form-group">
            <div class=" col-sm-12">
                <button type="button" class="btn btn-default fullwidth fullwidth_blue" ng-click="paymentAddrSubmit()">Save payment info</button>
            </div>
        </div>
        <p class="terms">           
            Checks mailed every Friday except holidays by UPS.  Minimum earn amount of $20 required before check payment will be sent.
        </p>
    </div>
</section>
<section class="earn">
    <p class="text-center">ringhop © {{date | date:'yyyy'}}</p>
</section>
