<header ng-controller="menuController">
    <a class="interfac header-back"  ng-click="backButton()"></a>
    <h1 class="ui-title">Message History</h1>
    <!-- <a class="interface header-panel ui-link" href="javascript:;" ng-click="leftMenu()"></a> -->
</header>

<div class="earning earningNEW paddingBilling">
    <ul>
    	<li>
            <a href="javascript:;" class="callHistory tableHead">
            <!-- <a href="javascript:;" class="callHistory" ng-show="!noMessageDiv"> -->
                <span class="left" style="width:45%;"><b>Message Date</b></span>
                <span class="blank left" style="width:30%;" ng-if="isPro == false"><b>Message to</b></span> 
                <span class="blank left" style="width:30%;" ng-if="isPro == true"><b>Message by</b></span> 
                <span class="right" style="width:25%;"><b>Charge</b></span>
                <span class="clr"></span>
            </a>
        </li>
        <li ng-repeat="historyKey in statsmsghistory">
            <a href="javascript:;" class="callHistory">
                <span class="datenew left" style="width:45%;">{{historyKey.created_at}}</span>
                <span class="blank left" style="width:30%;" ng-if="loggedUserName == historyKey.displayname">me</span>
                <span class="blank left" style="width:30%;" ng-if="loggedUserName != historyKey.displayname">{{historyKey.displayname}}</span>
                <span class="valuechange valuechangeNEW right" style="width:25%;"><b>${{historyKey.charge_rate}}</b></span>
                <span class="clr"></span>
            </a>
        </li>
    </ul>
    <div class="no_msg" ng-show="noMessageDiv">
        No message history available.
    </div>
</div>
<section class="midArea paginate" ng-show="paginateSection">
    <div class="form-horizontal ui-content">
        <div class="form-group">
            <div class="col-xs-6 prev-arrow">
                <button class="btn btn-default fullwidth fullwidth_blue prev" id="prevBtn" ng-disabled='prevDisabled' ng-click="prevBtn()" ng-model="prevDisabled">
                    <span id="arrow"></span>
                    Prev
                </button>
            </div>
            <div class=" col-xs-6 next-arrow">
                <button class="btn btn-default fullwidth fullwidth_blue next" id="nextBtn" ng-disabled='nextDisabled' ng-click="nextBtn()" ng-model="nextDisabled">
                    <span></span>
                    Next
                </button>
            </div>
        </div>
        <span class="errorStatus"></span>
    </div>
</section>
<section class="earn">
    <p class="text-center">ringhop © {{date | date:'yyyy'}}</p>
</section>