<header ng-controller="menuController">
    <a class="interfac header-back" ng-click="backButton1()"></a>
    <h1 class="ui-title">
        Suggested PRO
    </h1>
    <!-- <a href="javascript:;" ng-click="addPro_UserContact()" class="addProContact">
        <span class="glyphicon glyphicon-plus"  style="margin-right: 8px !important;"></span>
    </a> -->
    <!-- <a class="interface header-panel ui-link" href="javascript:;" ng-click="leftMenu()"></a> -->
</header>
<div id="mainContactsDiv">
    <section class="inner_action settingSec">
        <!-- <div class="form-input">
            <a href="javascript:;" ng-click="removeSearchText()">
                <span class="glyphicon glyphicon-remove" ng-show="RemoveIcon" ></span>
            </a>
            <i class="glyphicon glyphicon-search" id="searchIcon"></i>
            <input id="search-basic" type="text" class="searchData displaySearch_contact" data-type="search" value="" name="search-basic" ng-model="searchText" ng-keyup="OnKeyupRemove($event)" placeholder="Search my contacts" autocorrect="off" autocapitalize="off"> <!-- Nanda 10 june -->
        <!-- </div> -->
        <div class="col-sm-6 buttonSelect_contact">
            <button type="button" class="btn btn-default buttonMessage_contact fullwidthWhite_contact" ng-click="sortContact()">
                A to Z
            </button>
            <button type="button" class="btn btn-default buttonMessage_contact fullwidthBluemsg_contact" ng-click="resetContact()">    
                Recent
            </button>
        </div> 
        <div class="result_line">
            <!--p>sorted by recently added</p-->
        </div>
        <div style="clear:both;"></div>
    </section>
    <div class="no_msg" ng-show="noContactDiv">
        {{noContacts}} 
    </div>
    <div class="box1" id="contact_{{contact.pro_id}}" ng-repeat="contact in suggestedProsData | orderBy:sortType:sortReverse | filter:searchFilter">
        <section class="dashboard">
            <div class="contact slideWrap" >
                <a href="javascript:;" ng-click="gotoProfile(contact.pro_id,contact.displayname)">
                    <div class="image" style="height:57px;">
                         <img class = "imgcircle" ng-src="{{contact.profile_images.profile_image}}" alt="">
                    </div>
                    <div class="text">
                        <h2 style="margin-bottom: 0px !important;margin-top:20px !important;">{{contact.displayname}}</h2>
                        <p style="height: 20px;line-height: 24px;overflow: hidden;margin-bottom: 5px;" ng-if="contact.profile_status!= null">{{contact.profile_status}}</p>
                         <p style="line-height: 24px;overflow: hidden;margin-bottom: 8px;" ng-if="contact.profile_status == null">{{contact.profile_status}}</p>
                        <h6 style="margin-top: 0px;">{{contact.online_status}}</h6>
                    </div>
                </a>
                <div class="setting">
                    <a href="javascript:;" ng-click="openPopup(contact.pro_id, contact.pro,contact.status)"><span class="glyphicon glyphicon-cog "></span></a>
                </div>
                <div class="clr"></div>
                <div class="clr"></div>
            </div>
        </section>

        <section>
        <div class="popupContact popupBlock" ng-show="blockPopup" data-role="popup" style="height:140px !important;width: 260px;top:30% !important;">
            <span ng-click="closeBlock()">
              <img src="img/cross.png" class="crossPopupblock" />
            </span>
            <div role="main" class="ui-content" id="deletecontent">
              <p style="color:black;">{{blockMsg}}</p>
            </div>
            <div class="center borderTopSolid" id="okdiv" style="margin-top: 0px;">
              <a href="javascript:;" class="ui-btn ui-btn-inline" id="deleteanchor" data-rel="back" data-transition="flow" style="font-size: 18px;color:#428bca !important;margin-top: 8px;font-weight:600;" ng-show="gotoBlockUsers" ng-click="blockLink()">Blocked users</a>
              <a href="javascript:;" class="ui-btn ui-btn-inline" id="deleteanchor" data-rel="back" data-transition="flow" ng-show="closePopupBlock" style="font-size: 18px;color:#428bca !important;margin-top: 8px;font-weight:600;" ng-click="closeBlock()">Ok</a>
            </div>
        </div>
            <div class="popupContact" id="{{contact.pro_id}}" style="display:none; top:18%;padding-bottom: 0px !important;"> 
                <span ng-click="cancelPopup(contact.pro_id)">
                  <img src="img/cross.png" class="crossPopupblock" />
                </span>
                <p>{{contact.displayname}}</p>
                <div class="longerText" ng-style="{'padding':'5px !important'}">
                    <ul>
                        <li ng-click="videoCallFromContacts(contact.pro_id,contact.displayname)" ng-show="showVideoIcon">
                            <a href="javascript:;">
                                <span class="glyphicon glyphicon-facetime-video" style="font-size:17px;"></span><span class="popupContactLiText">Video Call</span>
                            </a>
                        </li>
                        <li ng-if="contact.ringhop_number != '' && contact.ringhop_number != null">
                            <a href="tel:+ {{contact.ringhop_number}}"><span class="glyphicon glyphicon-earphone"></span><span class="popupContactLi">Call {{contact.ringhop_number}}</span></a>
                        </li>
                        <li ng-click="sendATip(contact.pro_id)" ng-show="tipSendListShow">
                            <a href="javascript:;">
                                <span class="glyphicon glyphicon-user"></span><span class="popupContactLiText">Send a tip</span>
                            </a>
                        </li>
                        <li ng-click="contactsLink(contact.pro_id)">
                            <a href="javascript:;">
                                <span class="glyphicon glyphicon-user"></span><span class="popupContactLiText">View profile</span>
                            </a>
                        </li>
                        <li>
                            <a href="#/home/reply{{contact.pro_id}}"><span class="glyphicon glyphicon-envelope"></span><span class="popupContactLiText">Send text</span></a>
                        </li>
                        <li id="user_block" ng-click="addSuggestProContact(contact.pro_id)">
                            <a href="javascript:;">
                                <span class="glyphicon glyphicon-plus"></span><span class="popupContactLiText" id="alreadyContact">Add Contact</span>
                            </a> 
                        </li>
                        <!-- <li ng-click="deleteContact(contact.contact_user_id)">
                            <a href="javascript:;" class="cancel"><span class="glyphicon glyphicon-remove"></span><span class="popupContactLiDelete">Delete contact</span></a>
                        </li> -->
                        <li ng-click="cancelPopup(contact.pro_id)">
                            <a href="javascript:;" class="cancel CenterText">Cancel</a>
                        </li>
                    </ul>
                </div>
            </div> 
        </section>
    </div>
    <section class="earn" ng-style="{'position':'absolute','width':'100%','text-align':'center'}">
        <p class="text-center">ringhop © {{date | date:'yyyy'}}</p>
    </section>
</div>


  