<header ng-controller="menuController">
    <!--a class="interfac header-back" href="login.html"></a-->
    <h1 class="ui-title"><img src="img/ringhop-logo.png" style="height:20px;" /></h1>
    <a class="interface header-panel ui-link" href="javascript:;" ng-click="leftMenu()"></a>
</header>
<div style="overflow-y: auto;" class="settingLiIcon">
<div class="col-md-12 img_thumb imgPart">
        <a href="javascript:;" onclick="back('left','#/home/editProfile')" class="profileblock">
            <div class="row" style="font-size: 0.75em;">
                <div class="col-xs-12 col-md-12 row" ng-style="{'max-height':'100px','overflow':'hidden'}">
                    <p class="edit">edit photo</p>
                    <div class="thumb">
                        <span class="img-responsive" alt="..." id="profile_pic"></span>
                        <!-- <img class="img-responsive" alt="..." id="profile_pic"> -->

                    </div>
                    <div class="caption captionInherit">
                        <h2 id="username"></h2>
                        <p class="location_status" id="user_loc" style="word-wrap:break-word;padding-bottom:18px;" ></p>
                        <p class="textaddresss" id="user_gender"></p>
                        <p class="textaddresss" id="user_location"></p>
                        <p class="btmtitle" id="usersStatus" style="padding-top:18px;">  </p>
                    </div>
                    <div class="clr"></div>
                </div>
            </div>
        </a>
        <div class="clr"></div>
    </div>
    <div class="clr"></div>
    <section class="inner_action after-login img_thumb_profile">
        <p ng-show="proSection" style="margin-top: -20px;margin-left: 10px;">Ringhop Pro account</p>
        <div ng-show="proSection">
            <a href="javascript:;" onclick="back('left','#/home/prosettings')">
                <div class="gray_box">
                    <div class="prouser">
                         <small class="fleft">my shareable #</small>
                         <div>
                            <small class="fright">Edit PRO Settings</small>
                         </div>
                         <div class="clr"></div>
                    </div>
                    <h2 id="pro_number"> </h2>
                </div>
            </a>
            <button type="button" class="webLink_box" ng-click="clickForCopy()"
                data-toggle="tooltip" 
                tooltip="Link Copied"
                tooltip-placement="bottom"
                tooltip-trigger="click">
                <span class="glyphicon glyphicon-link" style="padding-top:2px;margin-left:-8px;"></span>
                {{textToCopy}}
            </button>
        </div>
        <div ng-show="femaleProLink">
            <a href="javascript:;" ng-click="forward('left','#/home/learnmore')">
                <div class="orange_box">
                    <h2 style="font-size: 15px;margin-bottom: 8px !important;">Become a Ringhop Pro & earn money</h2>
                    <p style="font-size: 0.9em;">Get a FREE private number and charge for txt, call and media services</p>
                </div>
            </a>
        </div>
        <div ng-show="submitReviewPro">
            <a href="javascript:;" ng-click="forward('left','#/home/prodashboard')">
                <div class="orange_box">
                    <h2 style="font-size: 15px;margin-bottom: 8px !important;"><span class="glyphicon glyphicon-time" style="color:black; margin-left: 9px;"></span>Your application is being reviewed</h2>
                </div>
            </a>
        </div>
        <div ng-show="actionRequired">
            <a href="javascript:;" ng-click="forward('left','#/home/prodashboard')">
                <div class="red_box">
                    <h2 style="font-size: 15px;margin-bottom: 8px !important;">Action required to complete your application.</h2>
                    <p style="font-size: 0.9em;">Please click here to review action items.</p>
                </div>
            </a>
        </div>
        <div ng-show="completeProSetup">
            <a href="javascript:;" ng-click="forward('left','#/home/prodashboard')">
                <div class="yellow_box">
                    <h2 style="font-size: 15px;margin-bottom: 8px !important;"><span class="glyphicon glyphicon-warning-sign" style="color:black; margin-left: 11px"></span>Complete Ringhop Pro Setup</h2>
                </div>
            </a>
        </div>
        <div ng-show="updatePayment">
            <a href="javascript:;" ng-click="forward('left','#/home/updatepayment')">
                <div class="red_box">
                    <h2 style="font-size: 15px;margin-bottom: 8px !important;"><span class="glyphicon glyphicon-warning-sign" style="color:black;"></span>Update billing information</h2>
                </div>
            </a>
        </div>
        
        <ul class="newList" style="font-size: 14px;font-weight: 700;">
            <li>
                <button type="button" class="btn btn-default fullwidth" ng-click="chatLink()"><span class="glyphicon glyphicon-comment"></span>TXT messages
                <div ng-if="msgStatus=='0' && messageCount != 0" style="font-size:8pt;float:right;color:#fff;background:#f00!important;border-radius:0px;padding:3px 6px;">{{messageCount}}</div>
                <div ng-if="msgStatus=='1' && messageCount != 0" style="font-size:8pt;float:right;color:#fff;background:#b4b4b4!important;border-radius:0px;padding:3px 6px;">{{messageCount}}</div>                
                </button>
            </li>
            <li ng-show="shoutsection">
                <button type="button" class="btn btn-default fullwidth" ng-click="shoutLink()"><span class="glyphicon glyphicon-new-window"></span>Shouts</button>
            </li>
            <li>
                <button type="button" class="btn btn-default fullwidth" ng-click="callLink()"><span class="glyphicon glyphicon-earphone"></span>Recent calls
                <div ng-if="callCount!='0'" style="font-size:8pt;float:right;color:#fff;background:#f00!important;border-radius:0px;padding:3px 6px;">{{callCount}}</div> 
                </button>
            </li>
            <li>
                <button type="button" class="btn btn-default fullwidth" ng-click="contactsLink()"><span class="glyphicon glyphicon-star"></span>Contacts</button>
            </li>
            <li ng-show="pro_info != 2">
                <button type="button" class="btn btn-default fullwidth" ng-click="myLibrary()"><span class="glyphicon glyphicon-th"></span>My library</button>
            </li>
            <li ng-show="pro_info != 2">
                <button type="button" class="btn btn-default fullwidth" ng-click="buyCredits()"><span class="glyphicon glyphicon-usd"></span>Buy credits</button><!-- Nanda -->
            </li>
            
        </ul>
        

        <!-- <ul ng-show="upgradeDisplay">
            <li>
                <button type="button" class="btn btn-default fullwidth btn-success upgrade" ng-click="buyCredits()">
                    upgrade to unlimited txt and voice
                   <span class="arrowright"></span
                </button>
            </li>
        </ul> -->
    </section>
    <section>
        <div ng-show="earnMoneyPro" ng-click="proStatusLink()">
                <a href="javascript:;" >
                    <div class="gray_box_becomePro">
                        <div class="prouser earnMoneyfirstDiv">
                             <small class="fleft earnMoneyleft">{{pro_status}}</small>
                             <small class="fleft earnMoneymid">{{pro_tagline}}</small>
                             <div class="earnMoneyright">
                                <small class="fright">{{learn_more_pro}}</small>
                             </div>
                             <div class="clr"></div>
                        </div>
                    </div>
                </a>
        </div>
    </section>
    <section class="earn" ng-show="learnMore">
        <div ng-show="afterLearnMorePro">
        <p id="pro_status">{{pro_status}} <a href="javascript:;" ng-click="proStatusLink()">{{learn_more}}</a></p>
        </div>
        <p class="text-center" style="margin-top: 50px">ringhop © {{date | date:'yyyy'}}</p>
    </section>
    
</div>
