<header ng-controller="menuController">
    <a class="interfac header-back" ng-click="backButton()"></a>
    <h1 class="ui-title">Privacy policy</h1>
    <!-- <a class="interface header-panel ui-link" href="javascript:;" ng-click="leftMenu()"></a> -->
</header>
<div id="wrapper">
    <section class="midArea">
        <div class="detail_text detail_text3">
            <p>
                Ringhop Privacy Policy
                Effective:  October 28, 2014
                Lakewood Group, LLC (“we” or “Ringhop”) have adopted this privacy policy to protect your personal information and to let you know how we might use it.  This privacy policy only applies to activities you perform on the Ringhop.com website, transactions for purchasing services offered through Ringhop, and activities or communications that occur using the Ringhop service (collectively known as the “Service”) and does not apply to any other website or offline point of contact between Ringhop, or any other company, and consumers.  This policy may change from time to time, so please periodically review this page.  Each time you use the Service or provide us with information, by doing so you are accepting the practices described in this privacy policy at that time.
                Your IP Address
                Like most e-commerce services, each time you use the Service, we automatically collect your IP address.  If you utilize the Service through a web browser, we may also collect the web page from which you came.  In order to administer and optimize the Service for you and to diagnose problems, we use your IP address to help identify you and to gather broad demographic information about you.
                Cookies
                Like most websites, the Service may use cookies to keep track of your purchases and other activity on the Service and enhance your experience.  We may also use cookies to deliver content specific to your interests, to save your password, and if you choose, to save other personal information so you do not have to reenter it each time you use the Service.  Third-party advertisers on the Service, if any, may also place or read cookies on your browser.  If you wish to disable these cookies, the “help” portion of the toolbar on most browsers will tell you how.  However, if you set your browser to disable cookies, you may not be able to access certain aspects of the Service.
                Information We Collect From You
                In order to operate the Service and to provide you with information about products or services that may be of interest to you, we may collect “personal information” (i.e., information that could be used to contact you directly without using the service) and/or “demographic information” (i.e., information that you submit, or that we collect, that is neither personal information nor financial information; this may include, but is not limited to, zip code, postal code, hometown, gender, age/birth date, purchase history information, browsing history information, searching history information, and registration history information), subject to the rest of this paragraph.  Demographic information is divided into two categories: 1) “non-public information”, which consists of purchase history information; and 2) “public information”, which consists of all other demographic information.  We ask that you do not enter personal information or financial information into your “Profile” (for example, do not use your address or passcode as your username, or include your name or address in your written comments and responses), because if you do then it may be posted publicly on the Service, and the information will then be treated as “demographic information” that is “public information.”  Please note that nowhere on the Service do we knowingly collect personal information from children under the age of 18, as we require that all users represent to us that they are at least 18 years old.
                Information Other Websites Collect From You
                On the Service website, we may place links to other websites operated by other parties.  Some of these other websites contain our brand names and trademarks and other intellectual property that we own; others do not.  When you click on these links and visit these other websites, regardless of whether or not they contain our brand names, trademarks and other intellectual property, you need to be aware that we do not control these other websites or these other websites’ business practices, and that this privacy policy does not apply to these other websites.  Consequently, the operators of these other websites may collect different kinds of information about you, and may use and disclose that information in different ways than we would if it were collected on the Service.  We encourage you to review their privacy policies and remind you that we will not be responsible for the actions of other websites.
                How We Use Personal Information
                Ringhop is committed to treating your personal information with the highest degree of care.  Your email address and personal information is not shared with any third parties and is solely used to send email communication from Ringhop.  Your personal information will not be resold to any third party.  We use your email address and your other personal information to help us efficiently operate the Service, to contact you in connection with your transactions and other activities on the Service (including, but not limited to, confirmation emails or important news that could affect your relationship with Ringhop).  These types of communications are known as “Operational Communications.”  In some cases, Operational Communications may also contain commercial messages, such as banner ads and special offers.
                We may also use personal information to send you newsletters, information, offers and other promotional materials for Ringhop’s or third parties’ goods or services.  We attempt to send you offers that are of value to you, such as discounts, exclusive offers or special event information.  The Service provides you with options to decline to receive communications from Ringhop (other than those contained in Operational Communications).  Some of these options may only be for a certain category of communications; others may be more general.
                To operate the Service, including processing your transactions and supporting your activities on the Service, we may share your personal information with our agents, representatives, contractors and service providers so they can provide us with support services such as authorization of credit card transactions, email origination, receipt or support services, customer relationship management services, order fulfillment and sweepstakes and promotional fulfillment.  We require these entities not to use your information for any other purpose.  We will never share your personal information with a Specialist without your consent or unless we are legally required to do so, in which case we will notify you of such legal requirement.
                By purchasing, or registering or making reservations for, products or services offered or sponsored by third parties on the Service, or electing to receive communications (such as emails) or electing to participate in contests, sweepstakes or other programs (such as discount or rewards programs), offered or sponsored by third parties on the Service, you consent to our providing your personal information to those third parties.  Those third parties may use your personal information in accordance with their own privacy policies.  You will need to contact those third parties to instruct them directly regarding your preferences for the use of your personal information by them.  Additionally, you agree that we may use and disclose all such information so submitted to such third parties in the same manner in which we are entitled to use and disclose any other information you submit to us.
                Any third party with whom we are allowed to share your personal information is authorized to use your personal information in accordance with our contractual arrangements with such third parties and in accordance with their own privacy policies, over which we have no control, and you agree that we are not responsible or liable for any of their actions or omissions.  Those who contact you will need to be instructed directly by you regarding your preferences for the use of your personal information by them.
                Please read the information below under the heading “Special Cases in which we Share Personal and Financial Information” to learn more ways in which we may share your personal information.
                How We Use Public Information and Other Demographic Information
                We may review all demographic information.  We may use public information to enable other users to find your profile.  We may use demographic information to tailor the Service and communications to your interests.  We may also share demographic information with advertisers on an anonymous and aggregated basis (i.e., without telling the advertisers your identity).  One of the reasons we may do this is to increase the likelihood that our advertisers’ goods and services will appeal to Ringhop’s users, so that we may target specific ads at specific demographic groups.  Our sharing of demographic information with advertisers is anonymous (i.e., we do not tell advertisers which particular Ringhop users are members of which demographic groups), subject to the rest of this privacy policy.  When you respond to an advertisement, however, we ask you to remember that if that ad that is targeted to a demographic group and you decide to give the advertiser your personal information, then the advertiser may be able to identify you as being a member of that demographic group.  Please also be aware that we may disclose your demographic information on a non-anonymous basis as described below in the paragraph titled “Special Cases in which we Share Personal a…
                <a class="ui-link" ui-sref="home.terms">Terms of Use</a>
                .Special Cases in which we Share Personal and Financial Information
                Your name, physical address, phone number and password are considered confidential.  However, all information you provide to us may be shared with other third parties as necessary to comply with applicable law, to cooperate with law enforcement and the court system.  We reserve the right to share your personal information in connection with any instance where we have a good-faith belief that access, use, preservation, or disclosure is reasonably necessary: (a) to enforce applicable Terms of Service, including investigation of potential violations thereof; (b) to detect, prevent, or otherwise address fraud, security or technical issues; or (c) as required or permitted by law, to protect against harm to the rights, property or safety of Ringhop, its users, or the public.
                Changing our Privacy Policy for Previously Gathered Information
                If at any point we decide to use particular personally identifiable information in a manner different from that stated at the time it was collected, we will notify users by way of an email or by providing 30 days’ notice on the Service.  Please note that we will continue to have the right to change our privacy policy and practices, and how we use your personally identifiable information, without notice, as described in the first paragraph of this privacy policy, provided that such changes shall only apply to information gathered on or after the date of the change.
                How You Can Access and Update Your Email Preferences, Personal Information and Public Information
                We give you the opportunity to opt-out of certain communications and modify personal information or demographic information you have provided to us, and to hide demographic information from, or make demographic information visible to, the public users of the Service, at anytime by going to the “Account Settings” in your Ringhop profile.  Please be aware that it may take several hours for the changes you make to take effect on the public areas of the Service.  We thank you for your patience.  Please note that changing or deleting your information in the “Account Settings” section of the Service, or otherwise opting-out of receipt of email communications from Ringhop, will only change or delete the data in our database for purposes of future activities on the Service and for managing future communications from Ringhop.  These changes and deletions will not change or delete emails or information that we may have already forwarded to other users or credit card companies or any other third parties, all as provided above in this privacy policy.
                If you have any questions or concerns about this privacy policy, the practices of the Service, or your dealings with the Service, you can contact us at [{{ringhop_email}}] or by calling [{{ringhop_supportNo}}].  You can also send us mail to: Privacy Officer, Lakewook Group, LLC, 3131 North Bay Road, Miami Beach, Florida 33140.
            </p>
        </div>

    <div class="earn">
        <p class="text-center">ringhop © {{date | date:'yyyy'}}</p>
    </div>
</section>
</div>

