<header ng-controller="menuController">
    <!-- <a class="interfac header-back" ng-click="backButton()"></a> -->
    <h1 class="ui-title">{{showUserName}}</h1>
    <!-- <a class="interface header-panel ui-link" href="javascript:;" ng-click="leftMenu()"></a> -->
</header>
<div id="wrapper" style="background:#424242">
<section class="midArea">
    <div class="form-horizontal ui-content">
        <div class="videocahatpara">
            <p style="text-align: center;color: #fff !important;"> VIDEO CHAT ENDED </p>
        </div>
        <div class="showcallTime">
            <span style="color:#fff;">{{showCall_time}}</span>
        </div>
        <div class="midVideodiv" ng-show="userShowdiv"><p style="color: #fff !important;font-size: 12px;">CREDITS USED</p>
            <span class="creditsused">${{showCall_bal}}</span>
        </div>
        <div class="midVideodiv" ng-show="proShowdiv"><p style="color: #fff !important;font-size: 12px;">YOU EARNED</p>
            <span class="creditsused">${{showCall_bal}}</span>
        </div>
        <div class=" col-sm-12">
            <button type="button" class="fullwidth_newblue" ng-click="backToreply()">BACK</button>
        </div>
    </div>
</section>
</div>