<header ng-controller="menuController">
    <a class="interfac header-back" ng-click="backButton2()"></a>
    <h1 class="ui-title">{{diplayUsername}}</h1>
    <!-- <a class="interface header-panel ui-link" href="javascript:;" ng-click="leftMenu()"></a> -->
</header>
<div id="wrapper">
<section class="midArea">
    <div class="form-horizontal ui-content">
        <!-- <div class="creditInfo">
            <span class="succesStatus">{{creditInfo}}</span>
        </div> -->
        <div class="addcreditsdiv" ng-show="missedCall">
            <p class="creditspara" style="font-size: 15px;"> {{pro_name}} is not available to take your call right now.</p>
            <div class=" col-sm-12">
                <button type="button" class="fullwidth_green1" style="background: #469beb;border-color: #469beb;" ng-click="goBack()">BACK</button>
            </div>
        </div>
        <div class="addcreditsdiv" ng-show="videoCallBusy">
            <p class="creditspara" style="font-size: 15px;"> {{pro_name}} is busy with another call.</p>
            <div class=" col-sm-12">
                <button type="button" class="fullwidth_green1" style="background: #469beb;border-color: #469beb;" ng-click="backButton2()">BACK</button>
            </div>
        </div>
        <div class="addcreditsdiv" ng-show="videoCallInactive">
            <p class="creditspara" style="font-size: 15px;"> {{pro_name}} has deactivated the account.</p>
            <div class=" col-sm-12">
                <button type="button" class="fullwidth_green1" style="background: #469beb;border-color: #469beb;" ng-click="backButton2()">BACK</button>
            </div>
        </div>
    </div>
</section>
</div>

<section class="earn" ng-style="{'position':'absolute','bottom':'0','width':'100%','text-align':'center'}">
    <p class="text-center">ringhop © {{date | date:'yyyy'}}</p>
</section>