<header ng-controller="menuController">
    <!-- <a class="interfac header-back" ng-click="backButton()"></a> -->
    <h1 class="ui-title">{{showMissedName}}</h1>
    <!-- <a class="interface header-panel ui-link" href="javascript:;" ng-click="leftMenu()"></a> -->
</header>
<div id="wrapper" style="background:#424242">
<section class="midArea">
    <div class="form-horizontal ui-content">
        <div class="userSection"> 
        <div class="userImg" id="profile_pic"></div> 
        <div class="displayNameAtAccept"><h3>{{showMissedName}}</h3></div> 
        <i class="glyphicon glyphicon-remove" ng-click="callRejectback()" style="top: 260px;
        right: 5px;font-size: 20px;"></i>
        <div class="userSubFooter" style="margin-top: 50px !important;margin: 0px 15px 15px 15px;">
          <h5 style="font-size: 14px;">call missed</h5>
          <button class="btn btn-success btn-lg" ng-click="callBackUser($event)">call back</button>
        </div>
    </div>
    </div>
    
</section>
</div>