<header ng-controller="menuController">
    <a class="interfac header-back" ng-click="backButton()"></a>
    <h1 class="ui-title">Support</h1>
    <!-- <a class="interface header-panel ui-link" href="javascript:;" ng-click="leftMenu()"></a> -->
</header>
<div>
    <section class="inner_action settingSec">
        <ul>
            <li>
                <button type="button" class="btn btn-default fullwidth arrow" ng-click="privacyPolicy()">Privacy Policy</button>
            </li>
            <li>
                <button type="button" class="btn btn-default fullwidth arrow" ng-click="termsOfUse()">Terms Of Use</button>
            </li>
        </ul>
        <ul>
            <li>
                <button type="button" class="btn btn-default fullwidth arrow" ng-click="contactSupport()">Contact Support</button>
            </li> 
        </ul>
    </section>
    <section class="earn" ng-style="{'position':'absolute','bottom':'0','width':'100%','text-align':'center'}">
        <p class="text-center">ringhop © {{date | date:'yyyy'}}</p>
    </section>
</div>
       